#activity
  #push_notification{:style => "display: none"}
    = link_to("x", "#activity_filters", :id => "push_notification_close", :class => "close")  
    #push_notification_text
      = t("activity.push_notification", :count => 1, :link => link_to(t("activity.push_notification_refresh"), my_dashboard_path))
  %ul#activity_filters
    %li.filter
      = link_to_function t("activity.user_following", :user => profile_account.first_name), "$('#activity').data('activityFeed').switchView(this)", {:id => 'all'}
    %li.filter
      = link_to_function t("activity.just_user", :user => profile_account.first_name), "$('#activity').data('activityFeed').switchView(this)", {:id => 'me'}
    %li.filter
      = link_to_function t("activity.just_following"), "$('#activity').data('activityFeed').switchView(this)", {:id => 'following'}
    %li#twitter_only_filter{:style => "float:left;display:none"}
      - if current_user == profile_account
        = link_to_function t("activity.twitter_you_following"), "$('#activity').data('activityFeed').switchView(this)", {:id => 'following'}
      - else
        = link_to_function t("activity.twitter_following", :user => profile_account.first_name), "$('#activity').data('activityFeed').switchView(this)", {:id => 'following'}
    %li.last.loading
      = image_tag "/images/spacer.gif", :width => 18, :height => 13
  %ul.activities{:user => profile_account.id}
  = render :partial => "modules/activity/pagination"
