- if song = listen_activity['record'] || Song.find_by_id( listen_activity["item"]["id"] )
  %li.listen.activity.clearfix{:artist_id => "#{listen_activity["artist"]["id"] rescue ''}",:song_id => song.id ,:song_file => "#{listen_activity["item"]["file_name"] rescue ''}", :id => "#{listen_activity.object_id rescue ''}", :label => "#{listen_activity["artist"]["label_name"] rescue ''}", :genre => "#{listen_activity["item"]["genre_name"] rescue ''}", :timestamp => listen_activity["timestamp"]}
    .avatar{:onclick => 'do_toggle(this)'}
      = link_to(avatar_for_activity(listen_activity["album"]["avatar_file_name"], listen_activity["user"]["id"], listen_activity["gender"], {:alt => "#{listen_activity['artist']['name']}"}, :small), "/#{listen_activity["artist"]["slug"]}")
      = link_to('', "/#{listen_activity["artist"]["slug"]}", :class =>'cover_case')
    .item
      .title.clearfix
        .item_title_left
          %h4
            = html_unescape(truncate(listen_activity["item"]["title"], :length => 20))
          == #{t('basics.by')}
          = link_to(truncate(listen_activity["artist"]["name"], :length => 20), "/#{listen_activity["artist"]["slug"]}")
        = show_sample_flag( song )
      .meta.clear{:id => listen_activity["user"]["id"], :onclick => 'do_toggle(this)'}
        == #{t('basics.played_by')} 
        = (logged_in? && current_user.id == listen_activity["user"]["id"]) ? t('basics.me') : link_to(truncate(listen_activity["user"]["name"], :length => 42), user_path(listen_activity["user"]["slug"]))
        %span.date_time= t("basics.created_at", :when => distance_of_time_in_words_to_now(Time.at(listen_activity["timestamp"].to_i)))
      .tools
        .play
          = link_to '', "#", :class => "play", :title => t('actions.play')
        = add_to_playlist_button(song)          
        - if has_buylink?( song )
          .buy
            = link_to '', song_buylink_path(song), :class => "facebox buy", :title => t('actions.buy_song')
        .media_player
        .share
          = link_to '', "/share/song/#{song.id}", :class => "facebox share", :title => t('actions.share')
