- if user_station = station_activity
  %li.station.activity.clearfix{:timestamp => station_activity["timestamp"]}
    .avatar{:onclick => 'do_toggle(this)'}
      = avatar_for_activity(station_activity["item"]["avatar_file_name"], station_activity["item"]["id"], "artist", {:alt => station_activity["item"]["name"]})
    .item
      - if logged_in?
        %h4= link_to h(station_activity["item"]["name"]), queue_my_station_path(station_activity["item"]["id"])
      -else
        %h4= link_to h(station_activity["item"]["name"]), radio_path(:station_id => station_activity["item"]["id"])
      .meta{:onclick => 'do_toggle(this)'}
        == #{t('basics.created_by')} 
        = (logged_in? && current_user.id == station_activity["user"]["id"]) ? t('basics.me') : link_to(truncate(station_activity["user"]["name"], :length => 42), "/#{station_activity['user']['slug']}")
        %span.date_time= t("basics.created_at", :when => distance_of_time_in_words_to_now(Time.at(station_activity["timestamp"].to_i)))
        - unless station_activity["item"]["artists_contained"].to_s.empty?        
          %span.contains
            == #{t('basics.contains')}: 
            = station_activity["item"]["artists_contained"].map{|k| link_to(k["artist"],"/#{k["slug"]}")}.join(", ")
      .tools
        .play
          - if logged_in?
            = link_to '', queue_my_station_path(station_activity["item"]["id"]), :class => "play", :title => t('actions.play')
          -else
            = link_to '', radio_path(:station_id => station_activity["item"]["id"]), :class => "play", :title => t('actions.play')
