- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title

%h4 Dicas de Segurança
%p
  O Cyloop é um site aberto, onde artistas e fãs podem interagir, escutar música, ver vídeos, conversar e compartilhar opiniões. Como qualquer site público, independente das práticas de segurança adotadas durante o registro, os usuários deve exercer precaução e bom senso ao utilizarem o serviço.

%h4 Não esqueça que perfis e fórums são espaços públicos
%p
  Não suba ou escreva nada que você queira manter em segredo. Evite utilizar o seu nome real, endereço ou qualquer outra informação específica. Nunca inclua informações que indiquem a um estranho como encontrar você, por exemplo, lugares onde você custuma ir.

%h4 Online, as pessoas nem sempre são quem elas dizem que são
%p
  Seja cuidadoso com quem você chama de “amigo”, online. É divertido conectar com pessoas através do computador, mas pense bem antes de marcar encontros em pessoa com quem você conheceu online. Se você realmente resolver conhecer alguém em pessoa, marque em um local público, perto de algum agente de segurança e nunca vá sozinho.

%h4 Informe sobre assédio, ódio e outros comportamentos inapropriados
%p
  Se você acha que o comportamento de algum usuário é inapropriado, faça alguma coisa. Reporte para a gente qualquer incidente utilizando os links apropriados.

%h4 Não suba nada que possa ser constrangedor mais tarde
%p
  Pense bem antes de subir fotos pessoais. Pode parecer divertido na hora, mas como aquilo será visto fora de contexto por seus amigos, parentes, colegas ou chefes? Claro, obviamente você só pode subir material que você possui o direito de distribuir.

%h4 Não aja como um “peixe”
%p
  “Phishing” é uma palavra em inglês que indica a prática criminosa de fazer-se passar por outra pessoa ou instituição, para conseguir informações pessoas de alguém (como a conta bancária ou o cartão de crédito).
%h4 Proteja suas senhas
%p
  NUNCA repita suas senhas para ninguém. De posse da sua senha, alguém pode se fazer passar por você e tomar seu perfil.

%h4 Seu perfil reflete você
%p
  Se você sobe fotos, escreve histórias ou conta piadas sobre sexo, você vai atrair pessoas que querem falar sobre sexo. Quando você sobe conteúdo para um site, você está fazendo uma declaração para o mundo sobre quem você é. Gerencie bem sua imagem online.

%h4 Não responda a e-mails e contatos inapropriados
%p
  Você não precisa responder tudo. Se você responde uma mensagem inapropriada, mesmo para protestar, você está encorajando o remetente. Avise o Cyloop sobre o evento.

%h4 Para mais informação e dicas sobre proteção online, confira também:
%P
  Cartilha de Segurança para a Internet 
= link_to "http://cartilha.cert.br/", "http://cartilha.cert.br/"
%p
  Segurança online: proteja-se 
= link_to "http://www.microsoft.com/brasil/athome/security/privacy/default.mspx", "http://www.microsoft.com/brasil/athome/security/privacy/default.mspx"
%p
  Guia de segurança online para pais: idades e estágios 
= link_to "http://www.microsoft.com/brasil/athome/security/children/parentsguide.mspx", "http://www.microsoft.com/brasil/athome/security/children/parentsguide.mspx"
%p
  Central de segurança online
= link_to "http://br.security.yahoo.com/", "http://br.security.yahoo.com/"

