#msn_footer
  .inner.clearfix
    %ul.left
      %li= link_to "Ir a prodigy/MSN", "http://prodigy.msn.com/"
      %li= link_to "MSN en otro países", "http://prodigy.msn.com/worldwide.aspx"
      %li= link_to "¡Ayuda!", "https://support.msn.com/default.aspx?mkt=es-mx&wa=wsignin1.0&scrx=1"
      %li= link_to "Subscribete", "http://signup.alerts.live.com/alerts/login.do?PINID=37063032&returnURL=http://entretenimiento.prodigy.msn.com"
    %ul.right
      %li= link_to "Anunciate aquí", "http://advertising.prodigy.msn.com/"
      %li= link_to "Tu Privacidad", "http://g.msn.com.mx/0nwesmx0/00/20??PS=10274&NC=10009&CE=43&CP=1252&HL=Directiva+de+privacidad??PS=10113&NC=10009&CE=45&CP=1252&HL=Privacidad"
      %li= link_to "En \"letra Chiquita\"", "http://g.msn.com.mx/0nwesmx0/00/18??PS=10274&NC=10009&CE=41&CP=1252&HL=Condiciones+de+uso??PS=10113&NC=10009&CE=45&CP=1252&HL=Condiciones+de+uso"
  %ul.copyright_info
    %li.copyright
      &copy; 2010 Microsoft
    %li.logo
      Microsoft
