#msn_header.clearfix.msnlatam
  .wrapper
    .msn_main
      %ul.msn_navigation
        %li= link_to "MSN Argentina", "http://ar.msn.com"
        %li= link_to "MSN Chile", "http://cl.msn.com"
        %li= link_to "MSN Colombia", "http://co.msn.com"
        %li= link_to "MSN Perú", "http://pe.msn.com"
        %li= link_to "MSN Venezuela", "http://ve.msn.com"
        %li= link_to "MSN Latinoamérica", "http://latam.msn.com"
      %ul.msn_sisters
        %li= link_to "Ir a MSN Latinoamérica", "http://latam.msn.com/"
        %li= link_to "Hotmail", "http://mail.live.com/"
        %li= link_to "Messenger", "http://www.descubrewindowslive.com/messenger/"
        - if logged_in?
          %li.last= link_to t("sessions.destroy.sign_out"), site_logout_url        
        - else
          %li.last= link_to "Iniciar sesión", site_login_url
    .portal.clearfix{:style => 'display: none'}
      %ul.msn_sections{:style => 'padding: 5px 10px'}
        %li= link_to "Amor y Amistad", "http://match.latam.msn.com/channel/index.aspx?trackingid=202694"
        %li= link_to "Deportes", "http://foxsportsla.msn.com/"
        %li= link_to "Juegos", "http://juegos.latam.msn.com/"
        %li= link_to "Tiempo", "http://tiempo.latam.msn.com/"
        %li= link_to "MSN Discos", "http://events.latam.msn.com/discos"
        %li= link_to "Astrología", "http://astrologia.latam.msn.com/"
        %li= link_to "Entretenimiento", "http://entretenimiento.latam.msn.com/"
        %li= link_to "MSN en Concierto", "http://msninconcert.msn.com/music/archive/es-la/archive.aspx"
        %li= link_to "Video", "http://video.latam.msn.com/"
        %li= link_to "Musica", "http://latam.msn.cyloop.com/"
        %li= link_to "Compras", "http://latammsn.pricegrabber.com/"
        %li= link_to "Inglés en línea", "http://englishtown.latam.msn.com/sp/brochure.aspx?lng=sp&etag=lt_msncanal"
        %li= link_to "Noticias", "http://noticias.latam.msn.com/"
        %li= link_to "Salud", "http://salud.latam.msn.com/"
        
    = render :partial => '/3rd_party_branding/msnlatam_bing_search'
.sub.msnlatam{:style => "border-top: 1px #fff solid;border-bottom: 1px solid #ccc;" }
  %ul.msn_navigation.msnlatam
    %li.first
      %a{ :href => "http://entretenimiento.latam.msn.com/" }
        Entretenimiento
    %li.pretab{:style => "height:16px;border-right:1px #ccc solid;" }
      %a{ :href => "http://entretenimiento.latam.msn.com/xl/cine/" }
        Cine
    %li.expanded.notselected{:style => "padding:0px;height:14px;background:#fff;" }
      %a{ :href => "http://entretenimiento.latam.msn.com/xl/musica/", :style => "padding: 0 9px;background:#fff;border:none;line-height:14px" }
        Música
    %li
      %a{ :href => "http://entretenimiento.latam.msn.com/xl/personajes/" }
        Personajes
    %li
      %a{ :href => "http://entretenimiento.latam.msn.com/xl/fotogalerias/" }
        Fotogalerías
    %li
      %a{ :href => "http://entretenimiento.latam.msn.com/xl/video/" }
        Videos
    %li
      %a{ :href => "http://entretenimiento.latam.msn.com/xl/batallas/" }
        Batallas
    %li
      %a{ :href => "http://especiales.latam.msn.com/" }
        Especiales
    %li
      %a{ :href => "http://latam.msn.novebox.com/" }
        TV
    %li.last
      %a{ :href => "http://juegos.latam.msn.com/" }
        Juegos
.sub{:style => "margin-top:0px;background:#fff"}
  %ul.msn_navigation.msnlatam
    %li.first.selected
      %a{ :href => "http://entretenimiento.latam.msn.com/xl/musica/", :style => "border:none;"}
        Portada
    %li
      %a{ :href => "http://entretenimiento.latam.msn.com/xl/musica/discos/" }
        Discos
    %li
      %a{ :href => "http://latam.msn.cyloop.com" }
        %strong Radios en línea
    %li.last
      %a{ :href => "http://entretenimiento.latam.msn.com/xl/musica/el-parlante-amarillo/" }
        El pariente Amarillo
