#msn_footer
  .inner.clearfix
    %ul.left
      %li= link_to "Privacidad", "http://privacy2.msn.com/es-la/default.aspx"
      %li= link_to "Términos y condiciones", "http://g.msn.com/0TO_/esar"
      %li= link_to "Publicidad", "http://www.advertising.microsoft.com/latinoamerica"
    %ul.right
      %li= link_to "Directiva contra correo no deseado", "http://privacy2.msn.com/anti-spam/es-la/default.aspx"
      %li= link_to "Comentarios", "http://feedback.msn.com/"
  %ul.copyright_info
    %li.copyright
      &copy; 2010 Microsoft
    %li.logo
      Microsoft
