#msn_header.clearfix
  .wrapper
    .msn_main
      %ul.msn_navigation
        %li= link_to "notícias", "http://noticias.br.msn.com/"
        %li= link_to "entretenimento", "http://entretenimento.br.msn.com/"
        %li= link_to "esportes", "http://msn.lancenet.com.br/"
        %li= link_to "vídeo", "http://video.br.msn.com/"
        %li.more
          - link_to do
            %span.more_wrapper= "navegue pelo MSN"
      %ul.msn_sisters
        %li= link_to "MSN home", "http://br.msn.com/"
        %li= link_to "Hotmail", "http://mail.live.com"
        %li.last= link_to "Messenger", "http://download.live.com/messenger"
    .portal.clearfix{:style => 'display: none'}
      %ul.msn_sisters
        %li.hotmail= link_to "Hotmail", "http://mail.live.com"
        %li.messenger= link_to "Messenger", "http://download.live.com/messenger"
        %li.cellular= link_to "Celular", "http://info.mobile.br.msn.com/pt-BR/default.aspx"
        %li.shopping= link_to "Shopping", "http://shopping.msn.com.br/"
        %li.video= link_to "Video", "http://video.msn.com/?mkt=pt-br"
      %ul.msn_sections
        %li= link_to "Alertas", "http://servicos.br.msn.com/alertas.aspx"
        %li= link_to "Dinheiro", "http://dinheiro.br.msn.com/"
        %li= link_to "Horóscopo", "http://entretenimento.br.msn.com/astrologia/"
        %li= link_to "Música", "/"
        %li= link_to "Tempo", "http://www.climatempo.com.br/msn/indexmsn.php?pg=home"
        %li= link_to "Barra de Ferramentas", "http://toolbar.msn.com/?loc=pt-br"
        %li= link_to "Empregos", "http://msn.catho.com.br/"
        %li= link_to "I Love Messenger", "http://specials.br.msn.com/ilovemessenger/home.aspx"
        %li= link_to "Notícias", "http://noticias.br.msn.com/"
        %li= link_to "Verde", "http://verde.br.msn.com/"
        %li= link_to "Blog da Lilian Pacce", "http://msn.lilianpacce.com.br/"
        %li= link_to "Encontros", "http://tracking.parperfeito.com.br/ppbanner/bannerTracker?originId=1468&amp;identifierId=376584&amp;actionId=1"
        %li= link_to "Inglês Online", "http://englishtown.msn.com.br/online/home.aspx?bhcp=1&etag=br_msncanal_portal"
        %li= link_to "Receitas", "http://br.msn.recepedia.com/"
        %li= link_to "Viagem", "http://viagem.br.msn.com/"
        %li= link_to "Carros", "http://msn.icarros.com.br/"
        %li= link_to "Entretenimento", "http://entretenimento.br.msn.com/"
        %li= link_to "Jogos", "http://jogos.br.msn.com"
        %li= link_to "Serviços", "http://servicos.br.msn.com/"
        %li= link_to "Vídeo", "http://video.msn.com/?mkt=pt-br"
        %li= link_to "Celular", "http://celular.br.msn.com/"
        %li= link_to "Esportes", "http://msn.lancenet.com.br/"
        %li= link_to "Loterias", "http://www.sorteonline.com.br/default.asp?id=1104"
        %li= link_to "Shopping", "http://shopping.msn.com.br/"
        %li.last= link_to "Internet Explorer 8", "http://ie8.msn.com/microsoft/internet-explorer-8/pt-br/ie8.aspx"
        %li= link_to "Corpo & Saúde", "http://msn.minhavida.com.br/homemsn.vxlpub?utm_source=MSN&amp;utm_medium=canal"
        %li= link_to "Estadão", "http://estadao.br.msn.com/"
        %li= link_to "Mulher", "http://mulher.br.msn.com/"
        %li= link_to "Tecnologia", "http://tecnologia.br.msn.com/"
    .sub
      %ul.msn_navigation
        %li.active= link_to "Cyloop", "/"
        %li.last= link_to "iMusica", "http://imusica.br.msn.com"


