#msn_footer
  .inner.clearfix
    %ul.left
      %li= link_to "Terms of use", "http://g.msn.ca/0TO_/enca"    
      %li= link_to "Advertise", "http://advertising.microsoft.com/canada"
      %li= link_to "Privacy Statement", "http://g.msn.ca/2privacy/enca"
      %li= link_to "Anti-Spam", "http://g.msn.ca/2privacy/as-enca"
    %ul.right
      %li= link_to "RSS", "http://entertainment.ca.msn.com/rss/"            
      %li= link_to "Feedback", "https://secure.opinionlab.com/ccc01/o.asp?id=teHBbfNh", :onclick => "return Msn.Navigation.OpenPopup(event,this,'width=400,height=200,resizeable=no,status=no,titlebar=no,toolbar=no')"      
      %li= link_to "Support", "http://support.msn.com/default.aspx?locale=en-ca"      
  %ul.copyright_info
    %li.copyright
      &copy; 2010 Microsoft
    %li.logo
      Microsoft