#msn_footer
  .inner.clearfix
    %ul.left
      %li= link_to "Política de Privacidade", "http://g.msn.com.br/2privacy/1046"
      %li= link_to "Termos de Uso", "http://g.msn.com.br/0TO_/ptbr"
      %li= link_to "Política Anti-Spam", "http://g.msn.com.br/2privacy/as-ptbr"
      %li= link_to "Anuncie no MSN", "http://www.advertising.microsoft.com/br"
    %ul.right
      %li= link_to "Faça do MSN sua homepage", "http://homepage.msn.com/pt-br/index.html"
      %li= link_to "Seu Comentário", "http://ccc01.opinionlab.com/o.asp?id=vtDSnPQF"
      %li= link_to "Ajuda", "http://support.msn.com/default.aspx?locale=pt-br"
  %ul.copyright_info
    %li.copyright
      &copy; 2011 Microsoft
    %li.logo
      Microsoft
