#msn_footer
  .inner.clearfix
    %ul.left
      %li= link_to "Privacidad", "http://privacy.microsoft.com/es-xl/default.mspx"
      %li= link_to "Legal", "http://privacy2.msn.com/tou/es-us/default.aspx"
      %li= link_to "Publicidad", "http://advertising.msn.com/home/home.asp"
    %ul.right
      %li
        %a{:href => "http://help.msn.com/es_us/frameset.asp?ini=msn_msncomv9.ini",:onclick => "return Msn.Navigation.OpenPopup(event,this,'width=800,height=600,resizeable=no,status=no,titlebar=no,toolbar=no')"}Ayuda
      %li= link_to "Tus Comentarios", "http://feedback.msn.com/"
  %ul.copyright_info
    %li.copyright
      &copy; 2010 Microsoft
    %li.logo
      Microsoft
  = render "shared/msn_code"

