#msn_header.clearfix
  .wrapper
    .msn_main
      %ul.msn_navigation
        %li= link_to "Noticias", "http://noticias.prodigy.msn.com/"
        %li= link_to "Deportes", "http://msn.foxsports.com/fsla"
        %li= link_to "Entretenimeinto", "http://entretenimiento.prodigy.msn.com/"
        %li= link_to "Vida & Estilo", "http://estilosdevida.prodigy.msn.com/"
        //%li.more
        //  - link_to do
        //    %span.more_wrapper
        //      = "Más"
      %ul.msn_sisters
        %li= link_to "Prodigy/MSN", "http://prodigy.msn.com/"
        %li= link_to "Hotmail", "http://mail.live.com/"
        %li= link_to "Bing", "http://www.bing.com/"
        %li.last= link_to "Ayuda", "http://prodigy.msn.com/"
    .portal.clearfix{:style => 'display: none'}
      %ul.msn_sisters
        %li= link_to "Prodigy/MSN", "http://prodigy.msn.com/"
        %li= link_to "Hotmail", "http://mail.live.com/"
        %li= link_to "Bing", "http://www.bing.com/"
        %li.last= link_to "Ayuda", "http://prodigy.msn.com/"
      %ul.msn_sections
        %li= link_to "Entretenimiento", "http://entretenimiento.prodigy.msn.com/"
        %li= link_to "Horóscopos", "http://www.astrocenter.fr/msnMX/"
        %li= link_to "Cine", "http://cine.prodigy.msn.com/"
        %li= link_to "Mujer", "http://mujer.prodigy.msn.com/"
        %li= link_to "Juegos", "http://juegos.prodigymsn.com/"
        %li= link_to "Noticias", "http://noticias.prodigy.msn.com/"
        %li= link_to "Deportes", "http://msn.foxsports.com/fsla"
        %li= link_to "Autos", "http://autos.prodigy.msn.com/"
        %li= link_to "Viajes", "http://prodigy.bestday.com.mx/ProdigyMSN/"
        %li= link_to "Tecnología", "http://www.sputnik.com.mx/"
        %li= link_to "Videos", "http://video.msn.com/?mkt=es-mx"
        %li= link_to "Música", "/"
        %li= link_to "Estilos", "http://estilosdevida.prodigy.msn.com/"
        %li= link_to "Clasificados", "http://www.tuaviso.com.mx/index.php?llegada=prodigymsn"
        %li= link_to "Clima", "http://clima.prodigy.msn.com/"
        %li= link_to "Entrevistas", "http://events.mx.msn.com/hot.aspx"
        %li= link_to "Dinero", "http://dinero.prodigy.msn.com/"
        %li= link_to "Empleos", "http://prodigy.occ.com.mx/busqueda.aspx"
        %li= link_to "Amor y Amistad", "http://match.mx.msn.com/landing/CPChannelLanding.aspx?cpp=ese/root/Channel/index_MSNT1MEX_ab_V1.html&trackingid=1042972"
        %li= link_to "Compras", "http://prodigymsn.buscape.com.mx/"
    .sub
      %ul.msn_navigation
        %li= link_to "ENTRETENIMIENTO", "http://entretenimiento.prodigy.msn.com/" 
        %li= link_to "Celebridades", "http://entretenimiento.prodigy.msn.com/celebridades"
        %li= link_to "Música", "http://entretenimiento.prodigy.msn.com/musica"
        %li= link_to "Películas", "http://entretenimiento.prodigy.msn.com/peliculas"
        %li.before_active= link_to "VideoJuegos", "http://msn.levelup.com/"
        %li.active= link_to "Radio en Línea", "http://prodigy.msn.cyloop.com/radio"
        %li= link_to "Juegos", "http://juegos.prodigy.msn.com/"
        %li= link_to "Tonos", "http://prodigymsn.esmasmovil.com/"
        %li.last= link_to "Emoticones", "http://emoticons.prodigymsn.com/"
