#msn_footer
  .inner.clearfix
    %ul.left
      %li= link_to "Conditions d'utilisation", "http://g.msn.ca/0TO_/frca"    
      %li= link_to "Publicité", "http://advertising.microsoft.com/fr-ca"
      %li= link_to "Politique de confidentialité", "http://g.msn.ca/2privacy/frca"
      %li= link_to "Antipourriel", "http://g.msn.ca/2privacy/as-frca"
    %ul.right
      %li= link_to "RSS", "http://divertissement.ca.msn.com/rss/"            
      %li= link_to "Commentaires", "https://secure.opinionlab.com/ccc01/o.asp?id=qJLyOJmH", :onclick => "return Msn.Navigation.OpenPopup(event,this,'width=400,height=200,resizeable=no,status=no,titlebar=no,toolbar=no')"      
      %li= link_to "Soutien", "http://support.msn.com/default.aspx?locale=fr-ca"            
  %ul.copyright_info
    %li.copyright
      &copy; 2010 Microsoft
    %li.logo
      Microsoft