<%= render :partial => 'station_details_form' %>
<%= four_thumbs_to(@station_obj, :class => 'left_side', :clearer => true, :type => :small) %>
<div class="album_text2">
  <b id="station_name" class="station_name"><%= @station_obj.playable.name %></b>
  <%= link_to(image_tag(market_image_path('icon_20_share.png'), :title => t('actions.share'), :class => 'png_fix valign_middle custom_color'), '#', :onclick => "Base.stations.share(#{@station_obj.id}); return false;") %>
  <br/>
  <small><%= station_contains(@station_obj.playable, 3, true, :target => "_blank") %></small>
</div><!--/end top_buttons -->

<div class="album_actions2">
  <%= blue_button(t("radio.create_new_station"), :id => "create_station_button", :class => "create_new_station") %><br/>
</div>
