<div id="radio_label">
  <div class="radio_left_side">
    <div class="side_user_box">
      <%= avatar_for(artist, :album, :class => 'side_user_image', :width => "150", :height => "150", :disable_default_css => true) %>
      <div class="overlay png_fix">
        <div class="overlay_content">
          <big><%= artist.name %></big><br/>
          <small><%= artist.country unless artist.country.nil? %><br/>
            <%= artist.genre.name unless artist.genre.nil? %>
          </small>
        </div>
      </div>
    </div><!--/end side_user_box -->

    <div class="black_boxes">
      <div class="black_box left_side">
        <big class="blue"><a href="#"><%= number_with_delimiter(artist.total_user_stations) %></a></big><br/>
        <%= t('basics.stations') %>
      </div>

      <div class="black_box right_side">
        <big class="blue"><a href="#"><%= number_with_delimiter(artist.follower_count) %></a></big><br/>
        <%= t('basics.followers') %>        
      </div>

      <div class="clearer"></div>
    </div><!--/end black_boxes -->

    <%= follow_button(:account => artist, :full_width => true) %>
    <!--a href="#" class="blue_button full_width"><span><span>FOLLOW</span></span></a-->
  </div><!--/end radio_left_side -->

  <div class="radio_right_side">
    <div class="radio_tabs">
      <% @tabs.each_with_index do |tab, index| %>
        <a href="#" <%= index < 1 ? 'class="first active"': "" %>><span><span><%= tab.to_s.titleize %></span></span></a>
      <% end %>
    </div><!--/end radio_tabs -->

    <div class="radio_tabs_content">
      <%= render :partial => "similar_artists", :locals => { :seed_artist => artist, :limit => 12, :columns => 6 } %>
    <div>
  </div><!--/end radio_right_side -->

  <div class="clearer"></div>
</div>