<% app_env = ENV['RAILS_ENV'] %>
<% widghost = "" if app_env == 'development' %>
<% widghost = "http://staging.widget.hoodiny.com" if app_env == 'staging' %>
<% widghost = "http://widget.cyloop.com" if app_env == 'production' %>

<form action="" method="post" class="account_settings">
  <div class="album_detail hide" id="create_new_station_form">
    <div class="form_row last">
      <div class="grey_round_box left_side">
        <%= hidden_field_tag :search_station_id %>
        <%= hidden_field_tag :search_station_queue %>
        <input type="text" name="search_station_name" class="input half_width4" value="<%= t('radio.search_hint') %>">
      </div>

      <div class="top_padd left_side">
        <%= custom_button( t("radio.create_new_station"), :id => "create_station_submit", :can_post => 0) %>
        <a href="#" id="collapse_create_new_station" class="grey_button left_side"><span><span><img src="<%= widghost %>/images/close_red.gif" alt="<%= t('actions.close') %>" /></span></span></a>
      </div>

      <br class="clearer" />
    </div>
  </div><!--/end album_detail -->
</form>
