<% content_for :head do %>
<%= stylesheet_link_tag 'jquery.autocomplete' %>
<%= javascript_include_tag 'jquery.autocomplete' %>

<script type="text/javascript">
  $(document).ready(function() {
    var artistSearch = $("input[name='search_station_name']");
    var stationID = $("input[name='search_station_id']");
    var stationQueue = $("input[name='search_station_queue']");
    var listenButton = $("#create_station_submit");


    listenButton.click(function(e) {
      if(parseInt($(this).attr('can_post'), 10)) {
        Base.radio.launch_station_handler(this, e);
        listenButton.attr('can_post', 0);
    	}
    });

    artistSearch.autocomplete("/stations.js", {
      formatItem: function(item) {
        return item[1];
      },        
      formatResult: function(item) {
        return item[1];
      }        
    }).result(function(event, item) {
      Base.radio.set_station_search_details(item[0], item[2], false);
      listenButton.attr('can_post', 1);
      listenButton.removeClass('grey_button_big').addClass('blue_button');
    });

    artistSearch.css('color', '#c0d6e2');
    artistSearch.focus(function() {
      if(artistSearch.val() == "<%= t('radio.search_hint') %>") {
        artistSearch.attr('value', '')
      }
      if (artistSearch.attr("touched") != 'true') {
        artistSearch.attr("touched", 'true');
        artistSearch.css('color', '#025d8c');
        artistSearch.attr('value', '')
      }
    });
    
    artistSearch.blur(function() {
      if(artistSearch.val() == "") {
        artistSearch.attr("touched", 'false');
        artistSearch.css('color', '#c0d6e2');
        artistSearch.attr('value', "<%= t('radio.search_hint') %>")
        listenButton.attr('can_post', 0).removeClass('blue_button').addClass('grey_button_big');
        stationID.val("");
        stationQueue.val("");
      }
    });
  });
</script>
<% end %>
<form action="" method="post" class="account_settings">
  <div class="album_detail hide" id="create_new_station_form">
    <div class="form_row last">
      <div class="grey_round_box left_side">
        <%= hidden_field_tag :search_station_id %>
        <%= hidden_field_tag :search_station_queue %>
        <input type="text" name="search_station_name" class="input half_width4" value="<%= t('radio.search_hint') %>">
      </div>

      <div class="top_padd left_side">
        <%= grey_button( t("radio.create_new_station"), :id => "create_station_submit", :can_post => 0) %>
        <a href="#" id="collapse_create_new_station" class="grey_button left_side"><span><span><img src="/images/close_red.gif" alt="<%= t('actions.close') %>" /></span></span></a>
      </div>

      <br class="clearer" />
    </div>
  </div><!--/end album_detail -->
</form>
