<%= render :partial => 'radio/station_details_form' %>
<%= four_thumbs_to(@station_obj, :class => 'left_side', :clearer => true, :type => :small, :function => "Base.radio.set_station_details(#{@station_obj.id}, '#{@station_obj.playable.station_queue}', true, '')") %>
<div class="album_text2">
  <b><%= @station_obj.playable.name %></b>
  <br/>
  <small><%= station_contains(@station_obj.playable, 3, true, :target => "_blank") %></small>
</div><!--/end top_buttons -->

<div class="album_actions2">
  <%= blue_button(t("radio.create_new_station"), :class => "create_new_station", :id => "create_station_button") %><br/>
</div>
