<% content_for :javascript do %>
  jQuery(document).ready(function() { Base.radio.initialize(); });
<% end %>

<div class="two_columns">
  <div class="mix_box grey_accents">
    <form name='station_form' action="">
      <input type="hidden" id="station_id" value="<%= @station_obj.id %>" />
      <input type="hidden" id="radio_tab_scope" value="" />
    </form>
    <%= render 'my_stations' if false && @station_obj.playable.owner_is?(current_user) %>
    <%= render 'top_buttons' %>
    
    <div class="album_detail" id="current_station_info">
      <%= render @station_obj.playable.class.to_s.underscore %>
      <br class="clearer" />
    </div><!--/end album_detail -->
      
    <%= render 'create_new_station' %>
    <div id="radio_player">
      <script type="text/javascript" charset="utf-8">
        var flashvars = "urlContext=/&market=<%= current_site.code %>&playerId=radio_<%= current_site.code %>";
        flashvars += "&stationId=<%=@station_queue[:id]%>&station=<%=@station_queue[:queue]%>";
        AC_FL_RunContent(
          "src", "/flash/cyloop_radio",
          "width", "628",
          "height", "196",
          "align", "middle",
          "id", "cyloop_radio",
          "quality", "high",
          "bgcolor", "#f2f2f2",
          "name", "cyloop_radio",
          "allowScriptAccess", "sameDomain",
          "type", "application/x-shockwave-flash",
          "pluginspage", "http://www.adobe.com/go/getflashplayer",
          "flashVars", flashvars
        );
      </script>
    </div>

    <div class="artist_radio_info radio_row hide"></div>
  </div><!--/end mix_box -->

</div><!--/end two_columns -->