<% blank_msg = t('modules.edit_station.blank_station_name_message').gsub(/\"/, '\"') %>
<script type="text/javascript">
  var blank_station_alert = "<%= blank_msg  %>";
  $(document).ready(function() {
    Base.radio.initialize();
    initTopButtons();
    <% if @station_obj.playable.owner_is? current_user %>
      setTimeout(function(){ $('#licensing_popup').fadeIn('slow'); }, 2000);
    <% end %>
  });
</script>
<div class="two_columns">
  <div class="mix_box grey_accents">
    <form name='station_form' action="">
      <input type="hidden" id="station_to_delete" value="" />
      <input type="hidden" id="radio_tab_scope" value="" />
      <input type="hidden" id="my_stations_toggle" value="0" />
      <input type="hidden" id="msn_stations_toggle" value="0" />
      <input type="hidden" id="create_station_toggle" value="0" />
    </form>
    <%= render 'top_buttons' %>    
    <div id="my_stations_container">
      <%= render "my_#{@station_obj.playable.class.to_s.pluralize.underscore}" if logged_in? && current_user && current_user.send("total_#{@station_obj.playable.class.to_s.pluralize.underscore}".to_sym) > 0 %>
    </div>
    <% if !@station_obj.playable.is_a?(Playlist) %>
      <%= render 'msn_stations' unless @msn_stations.empty? %>
      <%= render 'create_new_station' %>
    <% end %>
    <div class="album_detail" id="current_station_info">
      <%= render :partial => @station_obj.playable.class.to_s.underscore %>
      <br class="clearer" />
    </div><!--/end album_detail -->

    <div id="radio_player">
      <script type="text/javascript" charset="utf-8">
        var swf_file = "<%= @station_obj.playable.is_a?(Playlist) ? '/flash/mix_radio' : '/flash/cyloop_radio' %>";
        var flashvars = "urlContext=/&market=<%= current_site.code %>&playerId=<%= @station_obj.playable.is_a?(Playlist) ? 'mix_radio_' : 'radio_' %><%= current_site.code %>";
        flashvars += "&stationId=<%= @station_obj.id %>&station=<%= @station_queue %>";
        AC_FL_RunContent(
          "src", "<%= @station_obj.playable.is_a?(Playlist) ? '/flash/mix_radio' : '/flash/cyloop_radio' %>",
          "wmode", "opaque",
          "width", "628",
          "height", "196",
          "align", "middle",
          "id", "<%= @station_obj.playable.is_a?(Playlist) ? 'mix_radio' : 'cyloop_radio' %>",
          "quality", "high",
          "bgcolor", "#f2f2f2",
          "name", "<%= @station_obj.playable.is_a?(Playlist) ? '/flash/mix_radio' : '/flash/cyloop_radio' %>",
          "allowScriptAccess", "sameDomain",
          "type", "application/x-shockwave-flash",
          "pluginspage", "http://www.adobe.com/go/getflashplayer",
          "flashVars", flashvars
        );
      </script>
    </div>

    <div class="artist_radio_info radio_row hide"></div>
  </div><!--/end mix_box -->

  <% if @station_obj.playable.is_a?(Playlist) %>
    <% if (@station_obj.playable.reviews_count > 0 and !logged_in?) or logged_in? %>
      <br/><br/><br/>
      <%= render 'reviews' %>
    <% end%>
  <% end %>

  <div class="popup" id="licensing_popup">
      <div class="top_shadow">
          <div class="top_left corner"></div>
          <div class="center_shadow"></div>
          <div class="top_right corner"></div>
          <a href="#" onclick="$('#licensing_popup').fadeOut('fast'); return false;"><img src="/images/popup_close.png" class="popup_close png_fix" alt="X" title="Close" /></a>
      </div>
      <div class="popup_content">
          <div class="title"><%= t('player.license_message.header') %></div>
          <div class="form_row">
              <div class="auto_fill_text">
                  <%= t('player.license_message.body') %> 
              </div>
              <br/>
          </div>
      </div>
      <div class="bottom_shadow">
          <div class="bottom_left corner"></div>
          <div class="center_shadow"></div>
          <div class="bottom_right corner"></div>
      </div>
  </div><!--/end popup -->
</div><!--/end two_columns -->
