<% similars = seed_artist.similar(limit) %>
<% unless similars.empty? %>
  <% cache("#{site_cache_key}/#{seed_artist.slug}/similar_radio_page", :expires_in => EXPIRATION_TIMES['artist_similar_artists']) do %>
    <% similars.each_with_index do |artist, index| %>
    <% end_box = index > 0 && (index + 1) % columns == 0 %>
      <div class="small_thumb<%= " last_box" if end_box %>" title="<%= artist.name %>">
        <%= link_to avatar_for(artist, "spaced_img tiny", :disable_default_css => true), artist, :target => '_blank'  %>
        <%= link_to truncate(artist.name, :length => 15), artist, :target => '_blank' %>
      </div>
      <% if end_box %>
        <br class="clearer" />
      <% end %>
    <% end %>

    <% index = (limit - 1) - similars.size %>
    <% index.downto(0) do |i| %>
    <% end_box = i % columns == 0 %>
      <div class="empty_box<%= i % columns == 0 ? " gb_small last_box" : " gb_small"  %>"></div>
      <% if end_box %>
        <br class="clearer" />
      <% end %>
    <% end %>
  <% end %>
<% end %>
