<script type="text/javascript">
   $(document).ready(function() {
     // $('a[rel*=facebox]').facebox();
     // Base.radio.init_edit_station_layer();
    });
</script>  
<%= four_thumbs_to(@station_obj, :class => 'left_side', :clearer => true, :type => :small) %>
<div id="now_playing_user_station" class="album_text2">
  <span id="station_name" class="station_name"><%= @station_obj.playable.name %></span>
  <% if @station_obj.playable.owner_is? current_user %>
  <%= link_to_function(image_tag('edit_button_small.png', :class => "png_fix valign_middle", :alt => t('actions.edit')), "Base.stations.launch_edit_layer(#{@station_obj.id})"  )%>
  <% end %>
  <br/>
  <small class="grey"><%= t("basics.last_modified") %>: <%= l(@station_obj.updated_at.to_date) %></small><br/>
  <small><%= station_contains(@station_obj.playable) %></small>
</div><!--/end top_buttons -->

<div class="album_actions2">
  <%= blue_button(t("radio.create_new_station"), :href => "#create_new_station", :class => "create_new_station") %><br/>
  <b><%= t("basics.created_by") %>: <%= link_to(@station_obj.playable.owner.name, "/#{@station_obj.playable.owner.slug}") %></b>
</div>