<% content_for :head do %>
  <%= javascript_include_tag "AC_OETags", "swf_utils", "radio", "htmlcomponent" %>
<% end %>
<div id="main_content">
  <div>
    <%= render @station_obj.nil? && 'search' || 'radio' %>
  </div>
  <div id="right_column">
    <div class="ad_box">
      <%= banner_ad("square_banner") %>
    </div>
    <div class="grey_box">
      <div class="box_content" id="top_stations">
        <h1><%= t('modules.top_stations.title') %></h1>
        <% cache("#{site_cache_key}/top_abstract_stations/#{@top_station_limit}", :expires_in => EXPIRATION_TIMES['radio_top_abstract_stations'] ) do %>
          <%= render :partial => 'abstract_station_simple', :collection => @top_abstract_stations %>
        <% end %>
      </div>
    </div>
  </div><!--/end right_column -->

  <div class="clearer"></div>
</div>

