<% content_for :head do %>
  <%= javascript_include_tag "AC_OETags", "swf_utils", "radio", "htmlcomponent" %>

  <!-- CAMPAIGN STYLE OVERRIDE -->
  <% if params[:station_id] %>
    <style>
      body.msn.radio div#container, body.msnlatam.radio div#container, .radio #internal_content {
        background: transparent;
      }

      .radio .mix_box {
          background: none;
          border: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
      }

      .radio .mix_box.grey_accents .top_buttons {
          background: none;
      }

      .radio .mix_box.grey_accents .album_detail {
          background: none;
      }

      .radio #right_column {
        height: 600px;
      }

      <% if @campaign %>
        body {
          background: url('<%= @campaign.campaign_background.url %>') no-repeat scroll center top #000 !important;
        }

        .custom_color, .custom_button {
          background-color: #<%= @campaign.hexcolor %>;
        }

        .side_user_box .overlay big {
          color: #<%= @campaign.artistinfo_name_hexcolor %>;
        }

        a, span.includes_text, div.includes, .radio_tabs a {
          color: #<%= @campaign.hexcolor %>
        }

        div#radio_label h1, div#top_stations h1 {
          border-left: 5px solid #<%= @campaign.hexcolor %>;
        }
      <% else %>
        body.msnlatino.radio.index {
          background: url('/images/background_latino_default.jpg') no-repeat scroll center top #FFF !important;
        }

        body.msncafr.radio.index, body.msncaen.radio.index {
          background: url('/images/background_canada_default.jpg') no-repeat scroll center top #FFF !important;
        }
      <% end %>

    </style>
  <% end %>
  <!-- END -->

<% end %>
<div id="main_content">
  <div>
    <%= render @station_obj.nil? && 'search' || 'radio' %>
  </div>

  <!-- right_column -->
  <div id="right_column">
    <%= custom_right_column(:campaign => @campaign, :top_abstract_stations => @top_abstract_stations, :top_station_limit => @top_station_limit) %>
  </div>
  <!--/end right_column -->

  <div class="clearer"></div>
</div>

