<div class="artist_box png_fix <%= style if defined? style %>">
    <% if false %>
      <span class="close_btn <%= place_type if defined? place_type %>">Close</span>
    <% end %>

    <%= four_thumbs_to(node.station, :type => :big) %>

    <div class="overlay">
        <div class="hidden">
            <span>
                <span class="bold">
                  <% if defined? node %>
                    <%= artist_name(node) %>
                  <% end %>
                </span><br/>
            </span>
            <br class="clearer" />

            <% if defined? node %>
              <%= station_contains(node.station.playable) %>
            <% end %>
        </div>

        <div class="visible">
          <%= radio_play_button(node.station.id, :class => 'play_button')  %>
          <% if defined? node %>
            <b><%= link_to(node.station.name, artist_url(node), :class => :white) %></b>
          <% end %>
        </div>
    </div><!--/end overlay -->
    <% if defined? clearer %>
      <div class="clearer"></div>
    <% end %>
</div><!--/end artist_box -->
<% if defined? clearer %>
  <br class="clearer"/>
<% end %>

