<div class="artist_box png_fix <%= style if defined? style %>">
    
    <% if defined? node %>
      <%= image_tag("#{ENV['ASSETS_URL']}#{node.image}", :class => 'artist_icon_box') %>
    <% else %>
      <%= image_tag('artist_image.jpg') %>
    <% end %>
    
    <span class="close_btn">Close</span>
    
    <div class="overlay">
        <div class="hidden">
            <% if defined? node %>
              <%= image_tag("#{ENV['ASSETS_URL']}#{node.image}", :class => 'artist_icon_box tiny artist_icon') %>
            <% else %>
              <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
            <% end %>
            <span>
                <span class="blue">
                  <% if defined? node %>
                    <%= node.artist_name %>
                  <% else %>
                    Jason Calleiro
                  <% end %>
                </span><br/>
               
                09/10/10
            </span>
            <br class="clearer" />
            
            Contains: 
            <% if defined? node %>
              <% includes = node.includes[0..3].collect {|a| link_to(a[:name], a[:url], :target => 'blank') } %>
              <%= includes.join(", ") + "..." %>
            <% else %>
              <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
            <% end %>
            
            <br/><br/>
            <b>
              <% if defined? node %>
                <%= link_to node.artist_name, node.profile_url %>
              <% else %>
                <a href="#">Alice in Chains</a>
              <% end %>
            </b><br/>
            <b><a href="#">Station</a></b>
        </div>
        
        <div class="visible">
            <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
        </div>
    </div><!--/end overlay -->
</div><!--/end artist_box -->

<% if defined? clearer %>
  <br class="clearer" />
<% end %>
