<div class="artist_box png_fix <%= style if defined? style %>">    
    <% if false %>
      <span class="close_btn <%= place_type if defined? place_type %>">Close</span>
    <% end %>
    
    <%= four_thumbs_to(node.station, :type => :big) %>
    
    <div class="overlay">
        <div class="hidden">
            <span>
                <span class="blue">
                  <% if defined? node %>
                    <%= artist_name(node) %>
                  <% end %>
                </span><br/>
            </span>
            <br class="clearer" />
            
            <% if defined? node %>
              <%= station_contains(node.station.playable) %>
            <% end %>
            
            <br/><br/>
            <b>
              <% if defined? node %>
                <%= link_to artist_name(node) + "<br />Station", artist_url(node) %>
              <% end %>
            </b>
        </div>
        
        <div class="visible">
            <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
        </div>
    </div><!--/end overlay -->
</div><!--/end artist_box -->

<% if defined? clearer %>
  <br class="clearer" />
<% end %>
