<form action="" method="post" class="account_settings edit_station_form">
    <%= hidden_field_tag :playable_id, @station.playable.id %>
    <%= hidden_field_tag :layer_station_id, @station.id %>  
    <div class="title"><%= t('modules.edit_station.title')%></div>
    
    <div class="form_row">
        <%= four_thumbs_to(@station, :type => :medium) %>

        <div class="popup_mix_text">
            <big><%= link_to @station.playable.name, radio_path(:station_id => @station.id) %></big><br/>
            <%= t("basics.created_by") %>: <%= link_to(@station.playable.owner.name, "/#{@station.playable.owner.slug}") %><br />
            <%= station_contains(@station.playable) %>
        </div>
        
        <div class="clearer"></div>
        <br/>
    </div><!--/end form_row -->
    
    <div class="form_row">
        <label><b>New name</b></label>
        
        <div class="grey_round_box">
            <input type="text" class="input full_width" />
        </div>
    </div><!--/end form_row -->
    <br/>
    
    <div class="align_right">
        <big><a href="#" class="black valign_middle popup_close_action">CANCEL</a></big>
        
        <a href="#" class="blue_button valign_middle" onclick="$(this).closest('form').submit();"><span><span>SAVE</span></span></a>
    </div>
</form>