<% content_for :javascript do %>

var W3CDOM = (document.createElement && document.getElementsByTagName);

function initFileUploads() {
  if (!W3CDOM) return;
  var fakeFileUpload = document.createElement('div');
  fakeFileUpload.className = 'fakefile';
  fakeFileUpload.appendChild(document.createElement('input'));
  var image = document.createElement('img');
  image.src='pix/button_select.gif';
  fakeFileUpload.appendChild(image);
  var x = document.getElementsByTagName('input');
  for (var i=0;i<x.length;i++) {
    if (x[i].type != 'file') continue;
    if (x[i].parentNode.className != 'fileinputs') continue;
    x[i].className = 'file hidden';
    var clone = fakeFileUpload.cloneNode(true);
    x[i].parentNode.appendChild(clone);
    x[i].relatedElement = clone.getElementsByTagName('input')[0];
    x[i].onchange = x[i].onmouseout = function () {
      this.relatedElement.value = this.value;
    }
  }
}

var uploadInfo = function(){
  $('#avatar_upload_info').text($(this).val());
}

$(document).ready(function(){
  initFileUploads();
  $('#user_avatar').change(uploadInfo);
});

<% end %>

<div class="accordion_title expanded">BASIC INFO</div>
<div class="accordion_box expanded">
  <% form_for @user, :html => { :method => :put, :multipart => true, :class => "account_settings", :id => 'basic_info_form' }, :url => my_settings_path do |f| %>
    <div class="form_row">
      <label><b>Name</b></label>
      <div class="grey_round_box left_side">
        <%= f.text_field :name, :class => 'input full_width2' %>
        <!-- <input type="text" class="input full_width2" value="Enter artist name" onfocus="clearInput('Enter artist name', this);" onblur="restoreInput('Enter artist name', this);" /> -->
      </div>
      <br class="clearer" />
    </div><!--/end form_row -->

    <div class="form_row">
      <div class="left_s">
        <label><b>Email</b></label>
        <div class="grey_round_box">
          <%= f.text_field :email, :class => 'input half_width2' %>
        </div>
      </div>
      <div class="right_s">
        <label><b>Profile URL</b></label>
        <div class="grey_round_box align_right">
            <span class="grey"><small>http://www.cyloop.com/</small></span>
            <%= f.text_field :slug, :class => 'input half_width' %>
        </div>
      </div>
      <br class="clearer" />
    </div><!--/end form_row -->

    <div class="form_row">
      <div class="left_side">
        <label><b>Gender</b></label>
        <div class="grey_round_box">
          <%= f.select :gender, [['Male', 'Male'], ['Female', 'Female']] %>
        </div>
      </div>
      <div class="left_side">
        <label><b>Date of Birth</b></label>
        <div class="grey_round_box">
          <%= f.date_select :born_on, :use_month_numbers => true, :from_year => 1900, :end_year => Time.now.year %>
        </div>
      </div>
      <div class="right_s">
        <label><b>Location</b></label>
        <div class="grey_round_box">
          <%= f.text_field :city_name, :class => 'input half_width3' %>
        </div>
      </div>
      <div class="clearer"></div>
    </div><!--/end form_row -->

    <div class="form_row">
      <label><b>Websites</b></label>
      <div class="grey_round_box left_side">
        <input type="text" class="input full_width" />
      </div>
      <br class="clearer" />
      <br/>
      <b><big><a href="#">twitter.com/bellumio</a></big> &nbsp; <a href="#" class="black">[ DELETE ]</a></b><br/>
      <b><big><a href="#">facebook.com/bellumio</a></big> &nbsp; <a href="#" class="black">[ DELETE ]</a></b>
    </div><!--/end form_row -->

    <div class="form_row">
      <%= avatar_for(profile_account, :small, :class => 'avatar small upload_thumb', :disable_default_css => true ) %>
      <div class="add_update">
        <div class="fileinputs">
          <%= f.file_field :avatar %>
        </div>
        <a href="#" id="avatar_upload_button" class="blue_button"><span><span>ADD / UPDATE</span></span></a> &nbsp; <b><a href="#" class="black">[ DELETE ]</a></b>
        <div id="avatar_upload_info"></div>
      </div>
      <div class="right_side maintain_private">
        <div class="grey_round_box">
          <%= f.check_box :private_profile %> <span>Maintain your profile private</span>
        </div>
      </div>
      <div class="clearer"></div>
    </div><!--/end form_row -->

    <div class="form_row last">
      <div class="align_right right_side">
        <a href="#" class="cancel_button">Cancel</a>
        <a href="#" class="blue_button" onclick="$(this).closest('form').submit();"><span><span>SAVE</span></span></a>
      </div>

      <br class="clearer" />
    </div><!--/end form_row -->
  <% end %><!--/end account_settings -->
</div><!--/end accordion_box -->
