<div class="box_content">
  <span class="follows_count"><%= profile_account.followee_count %></span>
  <h1><%= t("dashboards.follows", :user_name => profile_account.first_name.upcase) %></h1>

  <% if profile_account.followee_count < 1 %>
    <div class="big_text">
      <%= t("user.is_not_following_anybody", :user_name => profile_account.first_name) %>
    </div>
  <% else %>
    <% followings = profile_account.followees.all(:limit => 8) %>
    <% followings.each_with_index do |follow, index| %>
      <div class="small_thumb<%= " last_thumb" if index == 3 or index == 7 %>">
        <%= link_to avatar_for(follow, :tiny, :class => "spaced_img tiny", :disable_default_css => true, :width => "50px", :height => "50px"), follow %>
        <%= link_to truncate(follow.name,:length => 18), follow %>
      </div>
      <% if index == 3 %>
        <br class="clearer" />
      <% end %>

    <% end %>

    <% if profile_account.followee_count > 8 %>
      <div class="align_right">
        <b>
          <%= link_to(t('actions.view_more'),  following_index_path ) %>
        </b>
      </div>
    <% end %>

    <% index = (8 - followings.size) %>
    <% index.times do |i| %>
      <div class="empty_box gb_small <%= "last_box" if i == (index-1) or i == (index-5) %>">
        &nbsp;
      </div>
      <% if i == index-5 %>
        <br class="clearer" />
      <% end %>
    <% end %>

  <% end %>
  <br class="clearer" />
</div>
