<div class="accordion_title"><%= t('account_settings.password_change') %></div>
<div class="accordion_box">
  <% form_for @user, :html => { :method => :put, :class => "account_settings", :id => 'password_change_form' }, :url => my_settings_path do |f| %>
    <div class="form_row">
      <div class="left_s">
        <label><b><%= t('account_settings.old_password') %></b></label>
        <div class="grey_round_box">
          <%= f.password_field :current_password, :class => 'input half_width4' %>
        </div>
      </div>
        
      <div class="right_s">
        <label><b><%= t('account_settings.new_password') %></b></label>
        <div class="grey_round_box">
          <%= f.password_field :password, :class => 'input half_width4' %>
        </div>
      </div>
      <br class="clearer" />
    </div><!--/end form_row -->
      
    <div class="form_row last">
      <div class="align_right right_side">
        <a href="#" class="cancel_button"><%= t('account_settings.cancel') %></a>
        <a href="#" class="blue_button" onclick="$(this).closest('form').submit();"><span><span><%= t('account_settings.change_password') %></span></span></a>
      </div>
      <br class="clearer" />
    </div><!--/end form_row -->
  <% end %>
</div><!--/end accordion_box -->
