#stats.clearfix
  - unless profile_account.nil?
    .stat
      - if ["detour", "invasion"].include?profile_account.slug
        %span.count= number_with_delimiter(profile_account.follower_count)
        %span.label=t 'users.stats.followers'
      - else
        %span.count= link_to(number_with_delimiter(profile_account.follower_count), followers_path, :id => 'stats_followers_count')
        %span.label=t 'users.stats.followers'
    - if profile_account.is_a?(Artist)  
      .stat
        %span.count#stats_visits_count= number_with_delimiter(profile_account.visit_count)
        %span.label= t 'users.stats.visits'
    - if profile_account.is_a?(Artist)  
      .stat.song_plays
        %span.count= link_to(number_with_delimiter(profile_account.total_listens), charts_songs_path, :id => 'stats_total_listens_count')
        %span.label=t 'users.stats.song_plays'
    - if profile_account.is_a?(User)
      .stat
        %span.count= link_to(number_with_delimiter(profile_account.followee_count), following_index_path, :id => 'stats_following_count')
        %span.label=t 'users.stats.following'
    - if profile_account.is_a?(User)
      .stat.song_plays
        %span.count= link_to(number_with_delimiter(profile_account.song_play_count), charts_songs_path, :id => 'stats_song_plays_count')
        %span.label=t 'users.stats.song_plays'