.cancellation_account
  %h3= t('settings.cancel_my_account')
  %h4= t('cancellation.confirmation.title')
  %div.create_actions.clearfix
    %p= t('cancellation.confirmation.body')
    %p.are_you_sure= t('cancellation.confirmation.are_you_sure')
    .buttons
      .keep_account= pill_link_to t('cancellation.confirmation.keep_account'), edit_my_settings_path, :class => :close
      = pill_link_to t('cancellation.confirmation.cancel_account'), my_cancellation_feedback_path, :rel => 'facebox'

/ :javascript
/   $('a[rel*=facebox]').facebox()

