.feedback.cancel_account
  %h3= t('cancellation.feedback.title')
  %div.create_actions.clearfix
    %p= t('cancellation.feedback.body')

    -form_tag my_cancellation_path, :method => :delete do
      = hidden_field_tag :browser, browser_type
      = hidden_field_tag :os, os_type
      = hidden_field_tag :address, current_user.email
      = hidden_field_tag :country, current_country
          
      %p.field
        = label_tag :feedback, t("cancellation.feedback.label")
        = text_area_tag :feedback
        
      %div.create_actions.clearfix  
        %p.submit_button
          = tag :input, :type => :submit, :value => t("cancellation.feedback.no_thanks"), :class => 'no_thanks' 
          .pill_button
            .left
            = tag :input, :type => :submit, :value => t("cancellation.feedback.send"), :class => :pill_button
            .right