- content_for :head do
  = stylesheet_link_tag 'registration'

%script
  == text_is_available = '#{t('registration.is_available_exclamation')}';
  == text_slug_is_available = '#{t('registration.slug_available_exclamation')}';
  == text_your_profile = '#{t("registration.your_profile_name")}';
  == email_address = '#{t("registration.email_address")}';

#internal_content{:style => "margin: 0 auto;width:1000px "}
  %h2.channel_headline=t('registration.customize')
  #content
    #main_content
      - form_for @user, :html => { :multipart => true, :class => "account_settings" } do |f|
        - if @user.errors.count > 0
          .errors= t("registration.complete_all_fields_in_red")

        .form.label_based
          .form_row
            .left_s
              = f.label :gender, "<b>#{t("registration.you_are")}</b>"
              .grey_round_box
                = f.select :gender, [[t("user.female"),"Female"],[t("user.male"),"Male"]]
              .row.clearfix{:class => error_class_for(@user, 'gender')}
                .field
                  = custom_error_message_on @user, 'gender', 'registration.you_are'
            %br.clearer
          
          .form_row
            .left_s
              = f.label :name, "<b>#{t("registration.your_name")}</b>" 
              .grey_round_box
                = f.text_field :name, :class => "input half_width2" 
              .row.clearfix{:class => error_class_for(@user, 'name')}
                .field
                  = custom_error_message_on @user, 'name', 'registration.your_name'
            %br.clearer

          .form_row
            .left_s
              = f.label :email, "<b>#{t("registration.email_address")}</b> #{content_tag(:em, t("registration.email_address_tip"))}"
              .grey_round_box
                = f.text_field :email, :class => "input half_width2"
              .row.clearfix.email_block{:class => error_class_for(@user, 'email')}
                .field
                  = custom_error_message_on @user, 'email', 'registration.email_address'
                  #xhr_email.formError{:style => "display: none"}
            %br.clearer

          .form_row
            .left_s
              = f.label :slug, "<b>#{t("registration.your_profile_name")}</b> #{content_tag(:em, t("registration.your_profile_name_tip"))}"
              .grey_round_box.align_right
                %spam.grey
                  %small
                    http://www.cyloop.com/
                = f.text_field :slug, :autocomplete => "off" , :class => "input half_width"
                .slug_block{:class => error_class_for(@user, 'slug')}
                  .field
                    = custom_error_message_on @user, 'slug', 'registration.your_profile_name'
                    #xhr_slug.formError{:style => "display: none"}
            %br.clearer
          
          .form_row
            .left_s
              = f.label :born_on, "<b>#{t("registration.birth_date")}</b>"
              .grey_round_box.align_right
                = f.date_select :born_on, :start_year => 10.years.ago.year, :end_year => 1900, :use_month_numbers => true
              .row.clearfix.email_block{:class => error_class_for(@user, 'born_on')}
                .field
                  = custom_error_message_on @user, 'born_on', ''
            %br.clearer


          - if cyloop_login?
            .form_row
              .left_s
                = f.label :password, "<b>#{t("registration.your_password")}</b>"
                .grey_round_box.align_right
                  = f.password_field :password, :autocomplete => "off"
                .row.clearfix.email_block{:class => error_class_for(@user, 'password')}
                  .field
                    = custom_error_message_on @user, 'password', 'registration.your_password'
              %br.clearer
            
            .form_row
              .left_s
                = f.label :password_confirmation, "<b>#{t("registration.confirm_your_password")}</b>"
                .grey_round_box.align_right
                  = f.password_field :password_confirmation, :autocomplete => "off"
                .row.clearfix.email_block{:class => error_class_for(@user, 'password_confirmation')}
                  .field
                    = custom_error_message_on @user, 'password_confirmation', 'registration.confirm_your_password'
              %br.clearer
            
            .form_row
              .left_s
                .grey_round_box.align_right
                  .left{:class => error_class_for(@user, 'terms_and_privacy'), :style => "float:left;margin:-2px 2px -2px 0px" }
                    = f.check_box :terms_and_privacy
                  .left{:style => "text-align:left"}
                    = custom_error_message_on @user, 'terms_and_privacy', ''
                    %label{ :for => "terms_and_privacy", :class => "checkbox" }= t("registration.terms_and_privacy", :terms_link => link_to(t("registration.terms_of_use"), terms_and_conditions_url), :privacy_link => link_to(t("registration.privacy_policy"), privacy_policy_url))
              %br.clearer
            
            .form_row.last
              .align_right.right_side
                %span= t("registration.thats_it")
                = f.submit( t("registration.complete"), :type => "submit", :loading => t('actions.submitting') + '...', :class => "registration_complete") 
            %br.clearer

  #sidebar
    %ul
      - ['discover', 'radio', 'follow', 'playlist', 'chat'].each do |item|
        %li{:class => item}
          %span= t("registration.sidebar.#{item}_title")
          = t("registration.sidebar.#{item}_text")
  .clear

