<% content_for :head do %>
  <%= stylesheet_link_tag 'registration_form' %>
<% end %>

<h2 class="page_title"><%= t('registration.customize')%></h2>

<div id="content">
  <% if session.has_key? :sso_user %>
    <span class="title"><%= t('sessions.new.almost_done') %></span><br /><br />
    <b><%= t('sessions.new.create_link_acct', :provider => session[:sso_type].to_s) %></b><br /><br />
    <%= "<b>#{t('sessions.new.already_own')} #{link_to t('sessions.new.sign_in'), login_path(:return_to => my_dashboard_path) }</b>" %>
  <% end %>
  <div id="main_content" class="registration">
    <%= render 'form' %>
  </div>
</div>

<%= render 'sidebox' %>
<br class="clearer" />
