<li>
    <% if false #phase 2 - subscriptions %>
    <a href="#"><img src="images/listen_icon.png" class="listen_icon png_fix" alt="" title="<%= t('basics.listen') %>" /></a>
    <% end %>
    <%= four_thumbs_to(artist_abstract_station.station, :type => :big) %>
    <div class="transparency_thumbanils png_fix">
      <%= link_to(image_tag('play_button.png', :title => t('actions.play'), :class => 'png_fix'), radio_path(:station_id => artist_abstract_station.station.id)) %>
    </div>

    <div class="subcription_text">
        <big><%= link_to(artist_abstract_station.name, radio_path(:station_id => artist_abstract_station.station.id)) %></big>
        <br/>
        <div class="tags_contains">
          <%= station_contains(artist_abstract_station) %>
        </div>
        <br/>
        <br/>
    </div><!--/end subcription_text -->
    <br class="clearer" />
</li>
