<div id="footer">
    <div class="footer_left">
        <%= link_to 'About Hoodiny', '#'%>
        <%= link_to 'About Cyloop', '#'%>
        <%= link_to 'Terms &amp; Conditions', '#'%>
        <%= link_to 'Privacy Policy', '#'%>
        <%= link_to 'F.A.Q', '#'%>
        <%= link_to 'Contact Us', '#'%>
    </div>
    <div class="footer_right">
        <%= link_to(image_tag('cyloop.gif'), '#') %>
    </div>
    <br class="clearer" />
</div>

<div id="msn_footer_container">
  <%= render "3rd_party_branding/msn_footer_#{site_code}" %>
  <%= render :partial => "shared/google_analytics" %>
</div>
