#cyloop_footer.clearfix
  %ul
    %li.title= t 'footer.about_us'
    %li= link_to t('footer.about_hoodiny'), "http://www.hoodiny.com", :target => '_blank'
    %li= link_to t('footer.about_cyloop'), about_url
    %li= link_to t('footer.terms_and_conditions'), terms_and_conditions_url
    %li= link_to t('footer.privacy_policy'), privacy_policy_url
    %li= link_to t('footer.safety_tips'), safety_tips_url
  %ul.last
    %li.title= t 'footer.help'
    %li= link_to t('footer.faq'), faq_url
    %li= link_to t('footer.feedback'), contact_us_url
  - unless site_includes(:msnlatino)
    = render :partial => "shared/msn_code"


%span#calendar_locale.hide
  = current_site.calendar_locale 
= render :partial => "shared/google_analytics"
= render_messenger_live
