<% logged_out = false unless local_assigns[:logged_out] %>
<div id="top_banner_container">
  <%= banner_ad("top_banner") %>
</div>
<div id="msn_header">
  <% if site_includes(:msnmx, :msnbr, :msnlatam, :msnlatino, :msnar, :msncaen, :msncafr) %>
    <%= render "3rd_party_branding/msn_header_#{site_code}" %>
  <% end %>
</div>

<div id="header">
  <div id="header_content">
    <%= market_logo %>
    <%= render 'shared/main_links' %>
    <%= render :partial => 'shared/login_links', :locals => {:logged_out => logged_out} %>
    <%= render 'shared/search_form' %>
    <%= render :partial => 'shared/user_data', :locals => {:logged_out => logged_out} %>
    <div class="clearer"></div>
    <div id="flash_messages">
      <%= render_flash_messages %>
    </div>
  </div>
</div>
