<div id="internal_content">
    <div id="main_content">

        <%= render :partial => 'dashboards/left_column' %>
        
        <div id="center_column">
            <h1>
              <%= yield :title %>
            </h1>
            
            <div class="sorting">
              <%= yield :sorting %>
            </div>
            
            <% if @collection %>
              <ul class="followers_list">
                <% if current_user and current_user == profile_account and !@pending.nil? and @pending.size > 0 %>
                  <li class="pending"><b><%= t('dashboards.pending.title') %></b></li>
                  <% @pending.each do |item| %>
                    <li class="pending_item">
                        <%= link_to (avatar_for(item.follower, :small), item.follower) %>
                        <%= render :partial => 'shared/pending', :locals => {:item => item.follower} %>
                        <br class="clearer" />
                    </li>
                  <% end %>
                <% end %>
                
                <% @collection.each do |item| %>
                  <li>
                    <%= render :partial => 'shared/network_collection_info', :locals => {:item => item} %>
                  </li>
                <% end %>
              <% else %>
                <%= yield :list %>
              <% end %>
            </ul><!--/end followers_list -->

            <% if false and @collection.respond_to? :total_pages %>
              <%= will_paginate @collection, pagination_args %>
            <% end %>
        </div><!--/end center_column -->

        <%= render :partial => 'dashboards/right_column' %>
        
        <div class="clearer"></div>
    </div><!--/end main_content -->
    
</div><!--/end internal_content -->