<div id="main_content">

  <%= render 'shared/ajax_modules' %>

  <%= render on_dashboard? ? 'dashboards/left_column' : 'accounts/left_column' %>

  <div id="center_column">
    <%= yield :title %>
    <div class = "ajax_pagination">
      <div id="content_list">

        <div class="sorting ajax_sorting">
          <%= yield :sorting %>
        </div>
        <%= yield :list %>

        <% if @collection.respond_to? :total_pages %>
          <%= will_paginate @collection, pagination_args %>
        <% end %>
      </div>
    </div>
  </div><!--/end center_column -->

  <%= render on_dashboard? ? 'dashboards/right_column' : 'accounts/right_column' %>

<div class="clearer"></div>
</div>

