<% logged_out = false  unless local_assigns[:logged_out] %>

  <% if !logged_in? || logged_out %>
    <div id="login_links">
    <% if @follow_profile %>
      <%= link_to t("sessions.new.sign_in"), site_login_url(:return_to => nav_aux_login_url, :follow_profile => @follow_profile) %>
      <span class="spacer">|</span> 
      <%= registered_link_to t("registration.sign_up"), :return_to => my_dashboard_path, :follow_profile => @follow_profile %>  
    <% else %>
      <%= link_to t("sessions.new.sign_in"), site_login_url(:return_to => nav_aux_login_url) %>
      <span class="spacer">|</span> 
      <%= registered_link_to t("registration.sign_up"),  :return_to => my_dashboard_path %>
    <% end %>
  <% else %>
    <div id="login_links_logged_in">
      <%= link_to t("sessions.destroy.sign_out"), site_logout_url %>
  <% end %>
    </div>
