<div class="follower_text">
    <b>
      <%= link_to item, item %>
    </b>
    <br/>
    <span>
      <%= item.location %>
    </span>
    <br/>
    <%= link_to item.stations.size, station_path(item) %> <%= t('profile.navigation.stations' )%> /
    <%= link_to item.followers.size, followers_path(item) %> <%= t('profile.navigation.followers' )%>
</div>

<% if profile_owner? %>
  <div class="follower_actions w_settings">
    <%= follow_button(:account => item) %>
    <%= blue_button(image_tag('settings_button.png'), :href => '#', :class => 'settings_button png_fix') %>

    <br/>

    <ul class="actions_settings">
      <li>
        <a href="#" onclick="Base.community.deny('<%= item.slug %>', this); return false;">
          <%= t('actions.deny') %>
        </a>
      </li>
    </ul>
    
  </div>
<% end %>
