<% @collection.each do |item| %>
  <li timestamp="<%= item['timestamp'] %>">
    <b>
      <%= link_to(item['account'], item['account'])%>
    </b> 

    <% if item['type'] == 'station' %>
      <%= t('activity.created_station', :station => link_to(item['artist'], item['artist'])) %>
    <% elsif item['type'] == 'twitter' %>
      <%= item['text'] %>
      <%= link_to("Twitter / #{item['screen_name']}", "http://twitter.com/#{item['screen_name']}", :target => "_blank") %>
    <% else %>
      <%= item['message'] %>
    <% end %>

    <span class="grey">
      <%= nice_elapsed_time(item['timestamp']) %>
    </span>
  </li>
<% end %>
