<% @collection.each do |item| %>
  <li timestamp="<%= item['timestamp'] %>">
    <b>
      <%= link_to(item['account'], item['account'])%>
    </b>

    <% if item['type'] == 'station' %>
      <% playable = item['station'] %>
      <% if playable and playable.deleted_at.nil? %>
        <%= t('activity.created_station', :creator => link_to("<b>#{item['account']}</b>", item['account']), :station => link_to(playable.name, radio_path(:station_id => playable.station.id))) %>
      <% end %>
    <% elsif item['type'] == 'twitter' %>
      <%= item['text'] %>
      <%= link_to("Twitter / #{item['screen_name']}", "http://twitter.com/#{item['screen_name']}", :target => "_blank") %>
    <% else %>
      <%= item['message'] %>
    <% end %>

    <span class="grey">
      <%=  t('basics.created_at', :when => nice_elapsed_time(item['timestamp'])) %>
    </span>
  </li>
<% end %>

