<script>
 var msg="<%= t('search.search_hint', :default => 'Search for your favorite artist & music') %>";
</script>
<div id="search_form">
  <% form_for :search, :url => search_path, :html => { :onsubmit => 'return Base.header_search.buildSearchUrl();', :method => :get, :id => :header_search_form, :class =>:line } do |f| %>
    <div>
      <%= text_field_tag :q, t('search.search_hint', :default => 'Search for your favorite artist & music'),  {:id => :search_query, :class => "search_input", :onfocus => " clearInput(msg, this);", :onblur => "restoreInput(msg, this); setTimeout(function() {$('.search_results_box').hide();}, 300);", :autocomplete => :off } %>
      <input type="image" src="/images/search_icon.gif" class="search_button" />
      <div class="clearer"></div>
    </div>
  <% end %>
  <div class="search_results_ajax"><%= image_tag "/images/ajax_activity_indicators_download_animated_icon_animated_busy.gif" %></div>
</div><!--/end search_form -->
<div class="search_results_box">

  <div class="oveflow_list">
  <div class="search_results_header"><h1><%= t('basics.artists')%> </h1></div>
  
  <div class="clearer"></div>


  <ul class="search_list">

  </ul>

  <div class="grey_spacer"></div>

  <h1><%= t('basics.stations')%></h1>

  <ul class="search_list">

  </ul>

  <div class="grey_spacer"></div>

  <h1><%= t('basics.mixes')%></h1>

  <ul class="search_list">

  </ul>

  <div class="grey_spacer"></div>

  <h1><%= t('basics.users')%></h1>

  <ul class="search_list">
  </ul>

  <div class="grey_spacer"></div>



</div><!--/end oveflow_list -->

</div><!--/end search_results_box -->

