<div class="box_content">
  <span class="follows_count"><%= profile_account.follower_count %></span>
  <h5><%= t("dashboards.followers.title") %></h5>

  <% if profile_account.follower_count < 1 %>
    <div class="big_text">
      <%= t("user.has_no_followers", :user_name => profile_account.first_name) %>
    </div>
  <% else %>
    <% cache("#{site_cache_key}/#{profile_account.slug}/follows", :expires_in => EXPIRATION_TIMES['user_follows']) do %>
      <% followings = profile_account.followers.all(:limit => 8) %>
      <% followings.each_with_index do |follow, index| %>
        <div class="small_thumb<%= " last_thumb" if index == 3 or index == 7 %>">
          <%= link_to avatar_for(follow, :small, :class => "spaced_img small", :disable_default_css => true, :width => "50px", :height => "50px"), follow %>
          <% if follow.name.length >= 11 and follow.name.split[0].length >= 11 %>
            <%= link_to truncate(follow.name,:length => 11), follow %>
          <% else %>
            <%= link_to truncate(follow.name,:length => 18), follow %>
        <% end %>
        </div>
        <% if index == 3 %>
          <br class="clearer" />
        <% end %>
      <% end %>

      <% index = (8 - followings.size) %>
      <% index.times do |i| %>
        <div class="empty_box gb_small <%= "last_box" if i == (index-1) or i == (index-5) %>">
          &nbsp;
        </div>
        <% if i == index-5 %>
          <br class="clearer" />
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <br class="clearer" />

  <% if profile_account.follower_count > 8 %>
    <div class="align_right">
      <b>
        <%= link_to(t('actions.view_more'), profile_owner? ? my_followers_path : followers_path ) %>
      </b>
    </div>
  <% end %>
</div>

