<li>
  <%= link_to (top_playlist_item_counter + 1), radio_path(:station_id => top_playlist_item.station.id), :class => "item_number" %>
  <span class="item_image">
    <%= link_to avatar_for(top_playlist_item, :small, :class => "spaced_img", :disable_default_css => true, :width => "50px", :height => "50px"), mix_radio_path(:station_id => top_playlist_item.station.id) %>
    <%= link_to image_tag("play_button.png", :class=> "play_button png_fix", :title => t('basics.play')), mix_radio_path(:station_id => top_playlist_item.station.id) %>
  </span>
  <div class="item_text">
    <big><b><%= link_to top_playlist_item.name, radio_path(:station_id => top_playlist_item.station.id) ,:class => "blue" %></b></big><br/>
    <small><%= t("basics.by")%>: <%= link_to top_playlist_item.owner.name, user_path(top_playlist_item.owner) ,:class => "blue" %></small><br/>

    <%= rating(top_playlist_item) %>
  </div>
  <br class="clearer" />
</li>
