%meta{"http-equiv" => 'Content-Type', :content => 'text/html;charset=utf-8'}
%meta{"http-equiv" => 'Content-Script-Type', :content => 'text/javascript'}
%title= h(@title || t("meta.title"))
%meta{'name' => 'keywords', :content => t("meta.keywords") }/
%meta{'name' => 'description', :content => t("meta.description") }/
%meta{'name' => 'robots', :content => "ALL"}/
%meta{'name' => 'site', :content => current_site.id}
%link{:rel=>"shortcut icon", :href=>"/favicon.ico"} 
= render :partial => "shared/google_analytics"
- if protect_against_forgery?
  %meta{:name => 'authenticity_token', :content => form_authenticity_token}
= stylesheet_link_tag 'theme/ui.all'
= stylesheet_link_tag 'reset', 'application', 'charts', 'pages', 'player', 'jquery.autocomplete', 'jcarousel/jquery.jcarousel', 'jcarousel/skins/tango/skin', 'facebox', 'colorpicker', :cache => "cyloop3"
/ [if IE 6]
  = stylesheet_link_tag 'ie'
/ [if IE 7]
  = stylesheet_link_tag 'ie7'
= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.to_json};" if protect_against_forgery?
= javascript_include_tag 'jquery', 'jquery.ui', 'jcarousel/lib/jquery.jcarousel', 'jquery.ifixpng', 'jquery.corners', 'jquery.autocomplete', 'jquery.jeditable', 'jquery.livequery', 'jquery-ui-i18n.min.js',  'swfobject', 'facebox', 'registration', 'followees', 'colorpicker', 'customizer', 'radio', 'swf_utils', :cache => "cyloop4"
= resource_tags :defaults => false, :auto => false
