<div class="artist_box png_fix <%= "last_box" if (user_station_counter+1) % columns == 0 %>">
  <% sorted_includes = randomize_includes(includes) %>
  <%= four_thumbs_to(user_station.station, :type => :big, :includes => sorted_includes) %>
  <div class="overlay">
    <div class="hidden">
      <%= link_to avatar_for(user_station.owner, :artist_icon), user_station.owner %>
      <span>
        <span class="blue"><%= link_to user_station.owner.name, user_station.owner rescue ""%></span><br/>
        <%= t('basics.created_at', :when => distance_of_time_in_words_to_now(user_station.created_at)) %>
      </span>
      <br class="clearer" />
      <%= station_contains(user_station, 3, true, nil, :includes => sorted_includes) %>
    </div>

    <div class="visible">
      <%= radio_play_button(user_station.station.id, :class => 'play_button')  %>

      <%= link_to truncate(user_station.name, :length => 25), radio_path(:station_id => user_station.station.id), :title => user_station.name %>
    </div>
  </div><!--/end overlay -->
</div><!--/end artist_box -->
<% if (user_station_counter+1) % columns == 0 %>
  <br class="clearer" />
<% end %>

