<% unless profile_account.followers.empty? %>
  <div class="box_content">
    <span class="follows_count"><%= profile_account.followers.size %></span>

    <h1><%= t("dashboards.follows", :user_name => profile_account.name.upcase) %></h1>
    
    <% @followers.each_with_index do |follow, index| %>
      <div class="small_thumb<%= " last_thumb" if index == 3 %>">
        <%= link_to avatar_for(follow, "spaced_img tiny", :disable_default_css => true), follow %>
        <%= link_to follow.name, follow %>
      </div>
    <% end %>
    
    <br class="clearer" />
  </div>
<% end %>
