<% if profile_account %>
  <div id="userdata_box">
      <% unless profile_account.nil? %>
        <div class="user">
            <%= avatar_for(profile_account, :tiny) %>
            <%= link_to truncate(profile_account.name, 10), '#' %>
        </div>
      <% end %>
    
      <%= user_top_navegation %>
    
      <a href="#" id="userdata_arrow">
        <%= image_tag 'userdata_arrow.png', :class => 'png_fix' %>
        <%= image_tag 'arrow_up.gif', :class => 'arrow_up' %>
      </a>
  </div><!--/end userdata_box -->
<% end %>