<div class="follower_text">
    <b>
      <%= link_to item, item %>
    </b>
    <br/>
    <span>
      <%= item.is_a?(Artist) ? item.country : item.location %>
    </span>
    <br/>
    <%= link_to item.stations.size, user_stations_path(item) %> <%= t('profile.navigation.stations')%> /
    <%= link_to item.followers.size, user_followers_path(item) %> <%= t('profile.navigation.followers')%>
</div>

  <div class="follower_actions w_settings">
      <%= follow_button(:account => item) %>
      <% if logged_in? %>
        <%= blue_button(image_tag('settings_button.png'), :href => '#', :class => 'settings_button') %>
        <br/>
      
        <div class="blocked">
          <% if current_user.blocks?(item) %>
          <%= image_tag('blocked.gif') %> <%= t('blocks.blocked') %>
          <% end %>
        </div>  
        <%= render :partial => 'shared/action_settings', :locals => { :item => item } unless item.is_a?(Artist)  %>
      <% end %>
      
  </div>
