<% unless ['status', 'twitter'].include? item['type'] %>
  <b><%= link_to(item['account'], item['account']) %></b>
<% end %>

<div class="follower_text">
    <% if item['type'] == 'status' %>
      <div class="message_content">
        <b><%= link_to(item['account'], item['account']) %></b>
        <%= item['message'] %>
      </div>
    <% elsif item['type'] == 'twitter' %>
      <div class="message_content">
        <b><%= link_to(item['account'], item['account']) %></b>
        <%= item['text'] %>
        <%= link_to("Twitter / #{item['screen_name']}", "http://twitter.com/#{item['screen_name']}", :target => "_blank") %>
      </div>
    <% elsif item['type'] == 'station' %>
      <div class="station_activity">
        <%= link_to(avatar_for(item['artist'], :tiny), item['artist']) %>
        <%= link_to(item['account'], item['account']) %>
        <%= t('activity.created_station', :station => link_to(item['artist'], item['artist'])) %>
        <p>
          <%= "#{t('basics.contains')}: " if item['station'].includes.size > 0 %>
          <%= item['station'].includes.map {|s| link_to(s.artist, s.artist)}.join(", ") %>
        </p>
      </div>
    <% end %>
  <br />
  <span class="grey small">
    <%= nice_elapsed_time(item['timestamp']) %>
  </span>
</div>
