<% if current_user %>
  <div id="userdata_box">
      <div class="user">
          <%= avatar_for(current_user, :tiny) %>
          <%= link_to truncate(current_user.name, 10), my_dashboard_path %>
      </div>
    
      <%= user_top_navegation %>
    
      <a href="#" id="userdata_arrow">
        <%= image_tag 'userdata_arrow.png', :class => 'png_fix' %>
        <%= image_tag 'arrow_up.gif', :class => 'arrow_up' %>
      </a>
  </div><!--/end userdata_box -->
<% end %>