<div class="artist_box png_fix <%= "last_box" if (user_station_counter+1) % columns == 0 %>">  
  <% if user_station.artist_id.nil? %>
    <%= avatar_for(nil, :new_medium) %>
  <% else %>
    <%= four_thumbs_to(user_station.station, {:type => :big}) %>
  <% end %>

  <div class="overlay">
    <div class="hidden">
      <% if user_station.artist_id.nil? %>
        <%= avatar_for(nil, :artist_icon) %>
      <% else %>
        <%= link_to avatar_for(user_station.owner, :artist_icon), user_station.owner %>
      <% end %>
      
      <span>
        <span class="blue"><%= link_to user_station.owner.name, user_station.owner %></span><br/>
        <%= t('basics.created_at', :when => distance_of_time_in_words_to_now(user_station.created_at)) %>
      </span>
      <br class="clearer" />

      <%= t("basics.contains") %>:
      <%= user_station.includes.map {|inc| link_to inc.artist.name, inc.artist, :target => '_blank'}.join(", ") %>
    </div>

    <div class="visible">
      <%= button_image_to :actions__launch_radio, '/images/play_button.png', radio_path(:station_id => user_station.station.id), :method => :get, :class => 'play_button' %>

      <%= link_to truncate(user_station.name,15), radio_path(:station_id => user_station.station.id), :title => user_station.name %><br/>
      <%= link_to t("home.station"), radio_path(:station_id => user_station.station.id) %>
    </div>
  </div><!--/end overlay -->
</div><!--/end artist_box -->
<% if (user_station_counter+1) % columns == 0 %>
  <br class="clearer" />
<% end %>  
