<div class="follower_info" style='width:236px' >
  <b>
    <% if item.is_a?(Hash) %>
      <%= link_to(truncate(item[:name], :length => 35), item, :title => item) rescue link_to(item, item) %>
    <% elsif item.is_a? User or item.is_a? Artist %>
      <%= link_to(truncate(item.name, :length => 35), item, :title => item) rescue link_to(item, item) %>
    <% end %>
    </b>
    <br/>
    <span>
      <%= item.country %>
    </span>
    <br/>
    <%= link_to item.total_user_stations, user_stations_path(item) %> <%= t('profile.navigation.stations')%> /
    <%= link_to item.follower_count, user_followers_path(item) %> <%= t('profile.navigation.profile_followers')%>
</div>

  <div class="follower_actions w_settings" style="width:170px">
      <% if logged_in? && item.is_a?(User) %>
        <%= blue_button(image_tag('settings_button.png'), :href => '#', :class => 'settings_button png_fix', :style => "float:left") %>

        <ul class="actions_settings" style="z-index:9">
          <% if current_user.blocks?(item) %>
            <li>
              <a href="#" onclick="Base.community.unblock('<%= item.slug %>', this); return false;">
                <%= t('actions.unblock') %>
              </a>
            </li>
          <% else %>
            <li>
              <a href="#" onclick="Base.community.block('<%= item.slug %>', this); return false;">
                <%= t('actions.block') %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= follow_button(:account => item) %>
    
      <% if logged_in? && item.is_a?(User) %>
        <div class="blocked">
          <% if current_user.blocks?(item) %>
          <%= image_tag('blocked.gif') %> <%= t('blocks.blocked') %>
          <% end %>
        </div>
      <% end %>
  </div>
