<% unless ['status', 'station', 'twitter'].include? item['type'] %>
  <b><%= link_to(item['account'], item['account']) %></b>
<% end %>

<div class="follower_text">
    <div class="message_content"> <!-- Opens message content div -->

      <% if item['type'] == 'status' %>
          <b><%= link_to(item['account'], item['account']) %></b>
          <%= item['message'] %>
      <% elsif item['type'] == 'twitter' %>
          <%= item['text'] %>
          <%= link_to("Twitter / #{item['screen_name']}", "http://twitter.com/#{item['screen_name']}", :target => "_blank") %>
      <% elsif item['type'] == 'station' %>
        <% playable = item['station'] %>
        <% if playable and playable.deleted_at.nil? %>
            <%= t('activity.created_station', :creator => link_to("<b>#{item['account']}</b>", item['account']), :station => link_to(playable.name, radio_path(:station_id => playable.station.id))) %>
        <% end %>
      <% end %>
      <br class="clearer">
      <span class="grey small">
        <%=  t('basics.created_at', :when => nice_elapsed_time(item['timestamp'])) %>
      </span>

    </div>  <!-- Finishes message content -->
</div>

