<% logged_out = false unless local_assigns[:logged_out] %>
<div id="userdata_box" class="<%= current_user && !logged_out ? "user_data_logged_in" : "user_data_logged_out" %>">
  <div class="user">
    <% unless logged_in? %>
      <%= avatar_for(nil, :tiny, :class => "avatar") %>
      <%= link_to("Anon", my_dashboard_path, :class => "user_name") %>    
    <% else %>
      <%= avatar_for(current_user, :tiny, :class => "avatar") %>
      <%= link_to(current_user.first_name, my_dashboard_path, :class => "user_name") %>
    <% end %>
  </div>

  <%= user_top_navegation %>

  <a href="#" id="userdata_arrow">
    <%= image_tag 'userdata_arrow.png', :class => 'png_fix' %>
    <%= image_tag 'arrow_up.gif', :class => 'arrow_up' %>
  </a>
</div><!--/end userdata_box -->