<% content_for :title do %>
  <h1>
    <%= possessive :followees %>
  </h1>
<% end %>

<% content_for :sorting do %>
  <%= sort_link_to :latest %> /
  <%= sort_link_to :alphabetical %>
<% end %>

<% content_for :list do %>
  <%= render !@collection.empty? ? 'followings/list' : 'followees/blank_slate' %>
<% end %>

<%= render 'shared/list' %>

