<div id="internal_content">
    <div id="main_content">

        <%= render :partial => 'dashboards/left_column' %>
        
        <div id="center_column">
            <h1>FOLLOWING</h1>
            
            <div class="sorting">
                <a href="#">DEMIAN + FOLLOWING</a> / <a href="#" class="active">JUST DEMIAN</a> / <a href="#">JUST FOLLOWING</a>
            </div>
            
            <ul class="followers_list">
              <% @followees.each do |followee| %>
                <li>
                    <a href="#"><%= link_to (avatar_for(followee, :small), followee) %></a>
                    <div class="follower_text">
                        <b>
                          <%= link_to followee, followee %>
                        </b>
                        <br/>
                        <span>
                          <%= followee.location %>
                        </span>
                        <br/>
                        <%= link_to followee.playlists.size, playlist_path(followee) %> Mixes /
                        <%= link_to followee.stations.size, station_path(followee) %> Stations /
                        <%= link_to followee.followers.size, followers_path(followee) %> Followers
                    </div>
                    <div class="follower_actions w_settings">
                        <a href="#" class="green_button follower_btn"><span><span>FOLLOWING</span></span></a>
                        <a href="#" class="blue_button settings_button">
                          <span>
                            <span>
                              <%= image_tag 'settings_button.png' %>
                            </span>
                          </span>
                        </a>
                        <br/>
                        
                        <% if followee.respond_to? :blocked_by? and followee.blocked_by? current_user %>
                          <div class="blocked">
                            <%= image_tag 'blocked.gif' %> Blocked
                          </div>
                        <% end %>
                        
                        <ul class="actions_settings">
                            <li><a href="#">Block</a></li>
                            <li><a href="#">Flag</a></li>
                        </ul>
                    </div>
                    <br class="clearer" />
                </li>
              <% end %>


            </ul><!--/end followers_list -->
            
            <div class="pagination">
              <span class="disabled prev_page">&laquo; Previous</span> 
              <span class="current">1</span> 
              <a href="/articles?page=2" rel="next">2</a> 
              <a href="/articles?page=3">3</a> 
              <a href="/articles?page=3">4</a> 
              <a href="/articles?page=3">5</a> 
              <a href="/articles?page=3">6</a> 
              <a href="/articles?page=3">7</a> 
              <a href="/articles?page=3">8</a> 
              <a href="/articles?page=2" class="next_page" rel="next">Next &raquo;</a>
            </div>
        </div><!--/end center_column -->

        <%= render :partial => 'dashboards/right_column' %>
        
        <div class="clearer"></div>
    </div><!--/end main_content -->
    
</div><!--/end internal_content -->