<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:java="http://xml.apache.org/xslt/java" xmlns:i18n="http://apache.org/cocoon/i18n/2.1">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<style type="text/css">
html, body {
  margin:0px;
  padding:0px;
  overflow:hidden;
  border:none;
}
</style>

<script type="text/javascript">
  // ValueParameters
  ValueTargetCurrent = true;
  ValueHost = "<%= @options[:host] %>";
  ValueLoaded = false;
  ValueID = "pagebuster";
  ValueVersion = "1.2";
  ValueBannerType = "std";
  var ValueWidths_Heights = new Array("<%= @options[:width] %>x<%= @options[:height] %>");

  

  ValueNoText = 1;
  var ValueCategory = "<%= @options[:valuecategory] %>";

  var keys = "<%= @options.map { |o| o.join('=') }.join('&').gsub(/\--/, "") %>";
  
  var ValueKeyCodes = new Array(keys);

  ValueBannerSizeOrder =  "listed";

  //Added for compatibility with MSN
  ValueIFrame = 1;
</script>

<script type="text/javascript" src="http://ads.hood.valueclick.net/jsmaster"></script>
<script type="text/javascript">
  try 
  {
    var Num = Math.floor (Math.random()*1000000);
    if (ValueLoaded) ValueShowAd();
  } catch(e)
  {

  }
</script>

<script type="text/javascript">
  var body=document.getElementsByTagName("body");
  body[0].setAttribute('mediaplexHref','http://ads.hood.valueclick.net/redirect?' + keys + '&t=std&b=indexpage&noscript=1&msizes=' + ValueWidths_Heights + '&bso=listed');
  body[0].setAttribute('mediaplexImg','http://ads.hood.valueclick.net/cycle?' + keys + '&t=std&b=indexpage&noscript=1&msizes=' + ValueWidths_Heights + '&bso=listed');
</script>

<noscript>
  <a target="_top" href="http://ads.hood.valueclick.net/redirect?" + keys + "&t=std&b=indexpage&noscript=1&msizes=" + ValueWidths_Heights + "&bso=listed"><img alt="Click here to visit our sponsor" border="0" src="http://ads.hood.valueclick.net/cycle?" + keys + "&t=std&b=indexpage&noscript=1&msizes=" + ValueWidths_Heights + "&bso=listed"></a>
</noscript>

</head>

<body id="mpBody"></body>

</html>
