<% content_for :head do %>
  <%= render :partial => 'shared/logged_in_callback' %>
  <script type="text/javascript" charset="utf-8" src="/flash.js"></script>
  <script type="text/javascript" charset="utf-8" src="/home.js"></script>
<% end %>

<%= render :partial => 'pages/home_modules/slide_banner' %>

<div id="homepage_content">
  <%= render :partial => 'pages/home_modules/latest_stations' %>
  
  <%= render :partial => 'pages/home_modules/create_station' %>

  <br class="clearer" />

  <div class="grey_spacer"></div>

  <%= render :partial => 'pages/home_modules/top_radios' %>

  <div class="grey_spacer"></div>

  <%
   # Phase 2
   # render :partial => 'pages/home_modules/mixes_recomended' 
  %>

  <%= render :partial => 'pages/home_modules/radios_recomended' %>

  <br class="clearer" />
</div><!--/end homepage_content -->