<html>
<body style="margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
  <tr>
    <td>
      <br/>
      <br/>

      <table width="560" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr>
          <td>
            <a href="http://<%= @global_url %>" target="_blank">
              <% if @is_msn %>
                <img src="http://<%= @global_url %>/images/share_email/top.gif" width="560" height="62" border="0">
              <% else %>
                <img src="http://<%= @global_url %>/images/share_email/top_cyloop.gif" width="560" height="62" border="0">
              <% end  %>
            </a>
          </td>
        </tr>
      </table>

      <table width="560" border="0" align="center" cellpadding="0" cellspacing="20" bgcolor="#FFFFFF">
        <tr>
          <% if !@sender_slug.nil? %>
            <td><a href="http://<%= @global_url %>/<%= @sender_slug %>" target="_blank"><img src="<%= @sender_avatar %>" width="50" height="50"/></a></td>
            <td width="540" valign="top"><font face="Arial, Helvetica, sans-serif" color="#666666" size="+2"><%= t("share.station.subject", {:user => "<font color='#00A5F8'>#{@sender_name}</font>" }) %></font></td>
          <% else %>
            <td colspan="2" width="560" valign="top"><font face="Arial, Helvetica, sans-serif" color="#666666" size="+2"><%= t("share.song.subject", {:user => @sender_name }) %></font></td>
          <% end %>
        </tr>

        <tr>
          <td colspan="2"><img src="http://<%=@global_url%>/images/share_email/line.gif" width="520" height="1"></td>
        </tr>

        <tr>
          <td colspan="2"><table width="520" border="0" cellspacing="10" cellpadding="0">
            <tr>
              <td>
                <table>
                  <tr>
                    <td><a href="<%= @share_link %>" target="_blank"><img src="<%=@item_images[0]%>" width="39" height="39" border="0"></a></td>
                    <td><a href="<%= @share_link %>" target="_blank"><img src="<%=@item_images[1]%>" width="39" height="39" border="0"></a></td>
                  </tr>
                  <tr>
                    <td><a href="<%= @share_link %>" target="_blank"><img src="<%=@item_images[2]%>" width="39" height="39" border="0"></a></td>
                    <td><a href="<%= @share_link %>" target="_blank"><img src="<%=@item_images[3]%>" width="39" height="39" border="0"></a></td>
                  </tr>
                </table>
              </td>
              <td width="439">
                <a href="<%= @share_link %>" target="_blank"><strong><font face="Arial, Helvetica, sans-serif" color="#00A5F8" size="+2"><%= @item_title %></font></strong></a>
                <br>
                <font face="Arial, Helvetica, sans-serif" color="#025D8C" size="3"><%= t('basics.created_by') %>: </font><font color="#00A5F8"><%= @item_author %></font>
                <br/>
                <font face="Arial, Helvetica, sans-serif" color="#666666" size="3"><%= t("basics.contains") %>: </font><font color="#00A5F8"><%= @item_includes.map { |i| "<a href='http://#{@global_url}/#{i[:slug]}'><font color='#00A5F8'>#{i[:artist]}</font></a>" }.join(", ") %></font></td>

              <td width="51"><a href="<%= @share_link %>" target="_blank"><img src="http://<%=@global_url%>/images/share_email/btn_play_new.gif" width="60" height="68" border="0"></a></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td colspan="2"><img src="http://<%=@global_url%>/images/share_email/line.gif" width="520" height="1"></td>
        </tr>

        <% if @message %>
          <tr>
            <td colspan="2">
              <br>
              <table width="520" border="0" cellspacing="10" cellpadding="0">
                <tr>
                  <td width="77" valign="top"><font face="Arial, Helvetica, sans-serif" color="#00A5F8" size="+2"><strong><%= t('basics.message') %>: </strong></font></td>
                  <td width="413"><font face="Arial, Helvetica, sans-serif" color="#666666" size="+2"><%= @message %></font></td>
                </tr>
              </table>
              <br>
              <br>
            </td>
          </tr>
          <tr>
            <td colspan="2"><img src="http://<%=@global_url%>/images/share_email/line.gif" width="520" height="1"></td>
          </tr>
        <% end %>

        <tr>
          <td colspan="2" align="center"><a href="http://<%= @global_url %>" target="_blank"><font face="Arial, Helvetica, sans-serif" color="#00A5F8" size="+2">Cyloop</font></a> | <a href="http://<%= @global_url %>/radio" target="_blank"><font face="Arial, Helvetica, sans-serif" color="#00A5F8" size="+2"><%= t('dashboards.show.what_do_you_want_to_listen_to') %></font></a></td>
        </tr>
      </table>

      <table width="560" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr>
          <td><img src="http://<%=@global_url%>/images/share_email/bottom.gif" width="560" height="9"></td>
        </tr>
      </table>
      <table width="560" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr>
          <td align="center"><br>
      <font face="Arial, Helvetica, sans-serif" color="#666666" size="1">
        <%= t('share.song.marketing') %>
        </font></td>
        </tr>
      </table>
      <br>
    <br>

    <br></td>
  </tr>
</table>
</body>
</html>

