<h1><%= t('basics.albums')%></h1>

<div class="sorting">
  <%= sort_link_to :relevance, :class => :active %> /
  <%= sort_link_to :alphabetical %> / 
  <%= sort_link_to :latest %>
</div>


  <% @results.each do |album|%>
      <div class="albums_item reviews_list">
          <div class="artist_box png_fix">
              <%= avatar_for(album, :new_medium, {:alt => ""} ) rescue"" %>

              <div class="overlay">
                  <div class="hidden">
                      <a href="#"><%= avatar_for(album.artists.first, :artist_icon, {:alt => ""} ) rescue"" %></a>
                      <span>
                          <span class="blue"><%= "#{album.artists.first.name}" rescue ""%></span><br/>
                          <%= album.released_on.strftime("%m/%d/%Y") rescue ""%>
                      </span>
                      <br class="clearer" />

                     <%= t('basics.contains') %>:
                     <% album.songs[0..2].each do |included_song| %>
                       <%= link_to(included_song.title, queue_song_path(:slug => included_song.artist.slug, :id => included_song.album, :song_id =>included_song)) rescue nil  %>,
                     <% end %>
                      ...
                  </div>

                  <div class="visible">
                      <%= link_to image_tag("/images/play_button.png", :class => "play_button"), artist_album_path(album.owner, album, :autoplay => "true") %>
                      <%= link_to album.name, artist_album_path(album.owner, album, :autoplay => "true") %><br/>
                      <span class="white"><%= album.released_on.strftime("%Y") rescue"" %></span>
                  </div>
              </div><!--/end overlay -->
          </div><!--/end artist_box -->

          <div class="reviews">
            <big><b><%= link_to album.name, artist_album_path(album.owner, album, :autoplay => "true") %></b><br/>
            <%= "Label: #{album.music_label} (#{album.released_on.strftime("%Y")})" rescue ""%>
            </big><br/>
            Contains:
            <% album.songs[0..2].each do |included_song| %>
                       <%= link_to(truncate(included_song.title,30), queue_song_path(:slug => included_song.artist.slug, :id => included_song.album, :song_id =>included_song)) rescue nil  %>,
             <% end %>
             <br/>
             <br/>
              <div class="review_item">
                  <div id="logo"><%=link_to(avatar_for(album.artists.first, :search, {:alt => ""} ),album.artists.first) rescue"" %></div>
                  <div class="review_creator_large">
                      <b><a href="#"><%= link_to("#{album.artists.first.name}",album.artists.first) rescue ""%></a></b><br/>
                      <%= "#{album.artists.first.genre.name}" rescue"" %><br/>
                      <%= render :partial =>'searches/user_following', :locals => {:current_user => current_user, :user =>album.artists.first} if current_user %>
                      <%= render :partial =>'searches/user_following', :locals => {:user =>album.artists.first} unless current_user %>
                  </div>
                  <br class="clearer" />
              </div><!--/end review_item -->

              <br/>
<!-- only for phase 2
              <b>Reviewed by: <a href="#">Jason Calleiro</a></b><br/>

              <span class="grey">2 days ago</span><br/>

              <span class="review_creator_stars2"><a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" alt="" /></a> <a href="#"><img src="images/star_grey.png" alt="" /></a> <a href="#"><img src="images/star_grey.png" alt="" /></a></span><br/>
              <small><%= album.copyright %></small>
-->
          </div><!--/end reviews -->
          <div class="clearer"></div>
      </div><!--/end albums_item -->
  <% end %>

