%li.clearfix[artist]
  .avatar
    = link_to avatar_for(artist, :small), artist
  .info
    %div.clearfix
      %h4 
        =link_to artist.name, artist
    .meta
      .plays
        %span== #{t('users.stats.song_plays')}: 
        %span.meta_count= link_to(number_with_delimiter(artist.total_listens), artist_charts_songs_path(artist), :id => 'stats_total_listens_count')
      .folowers
        %span== #{t('users.stats.followers')}:  
        %span.meta_count= link_to(number_with_delimiter(artist.follower_count), artist_followers_path(artist), :id => 'stats_followers_count')
    .actions
      - if logged_in?
        %div
          = button_to :create_station, queue_my_station_path(artist.station.id), :method => :post if artist.has_station?
      - else
        %div
          = button_to :create_station, radio_path(:station_id => artist.station.id), :method => :post if artist.has_station?
      = follow_button(artist)
