<h1><%= t('basics.artists')%></h1>

<div class="sorting">
    <%= link_to t('actions.relevance'), "/search/#{params[:mkt]}/artist/#{params[:q]}?order=rel" , :class => params[:order]=='rel' || params[:order].blank? ? "active": "" %> / <%= link_to t('actions.alphabetical'), "/search/#{params[:mkt]}/artist/#{params[:q]}?order=alpha" , :class => params[:order]=='alpha'? "active": "" %>
</div>

<ul class="followers_list">
  <% @results.each do |artist|%>
    <li>
        <a href="#"><div id="logo"><%= avatar_for(artist, :search, {:alt => " #{artist.name}", :class =>"follower_image"}) %></div></a>
        <div class="follower_text">
            <b><a href="#"><%= artist.name %></a></b><br/>
            <span><%= "#{artist.city}" %></span><br/>
            <span><%= "#{artist.genre.name}" unless artist.genre.nil? %></span>
        </div>

        <div class="follower_actions w_settings">
            <a href="#"><img src="/images/play_button.png" class="png_fix" alt="" /></a>
            <% if current_user && current_user.follows?(artist) %>
              <%= green_button(t('actions.unfollow'),
                :onclick => "Base.community.unfollow('#{artist.slug}', this, #{following_page?})",
                :class => 'follower_btn') %>
            <% else %>
              <%= blue_button(t('actions.follow'),
                :onclick => "Base.community.follow('#{artist.slug}', this, #{following_page?})",
                :class => 'follower_btn') %>
            <% end %>
            <br/>
        </div>
        <br class="clearer" />
        <div class="long_text"><a href="#"><%= artist.station.nil? ? "0": "1"%></a> <%= t('basics.stations') %> / <a href="#"><%= artist.followers.size %></a> <%= t('users.stats.followers') %></div>
    </li>
  <% end %>
</ul><!--/end followers_list -->

