<% @search_types.each_with_index do |type, index| %>
  <h5><%= t("basics.#{type.to_s}").upcase %> (<%= @counts[type] %>)</h5>
  <div class="clearer"></div>

  <ul id="<%= "#{type.to_s}_list" %>" class="search_list">
    <%= render :partial => "searches/list_#{type.to_s.singularize}", :collection => @results[type] unless @results[type].empty? %>
  </ul>
  <% if @local %>
    <% if @counts[type] > 0 %>
      <%= link_to_function t("search.see_all_#{type.to_s}_with_term", :term => @query), "get_search_results('#{CGI::escape(@query)}','#{type.to_s.singularize}')", :class => "see_link" %>
    <% end %>
  <% else %>
    <% url =  playlist_create_path(:term => @query, :scope => type.to_s.singularize) %>
    <%= link_to t("search.see_all_#{type.to_s}_with_term", :term => @query), url, :class => "see_link", :onclick => logged_in? ? nil : "Base.utils.showRegistrationLayer('#{url}');return false;" %>
  <% end %>
  <div class="grey_spacer">  </div>
<% end %>

