<% @results.each_pair do |key, value| %>
  <% @artists = value if key=='Artist'%>
  <% @albums = value if key=='Album'%>
  <% @songs = value if key=='Song'%>
  <% @users = value if key=='User'%>
<% end %>
<div class="oveflow_list">
     <h1>ARTISTS</h1>

    <ul class="search_list">
     <% @artists.each do |artist|  %>
        <li>
            <a href="#">
                <%= avatar_for(artist, :small, {:alt => " #{artist.name}"}) %>
                <b> <%= artist.name %> </b><br/>
                <br class="clearer" />
            </a>
        </li>
      <% end %>
    </ul>

    <div class="grey_spacer"></div>

    <h1>ALBUMS</h1>

    <ul class="search_list">
     <% @albums.each do |album|  %>
        <li>
            <a href="#">
                <%= avatar_for(album, :small, {:alt => " #{album.name}"}) %>
                <b> <%= album.name %> </b><br/>
                <%= album.owner.name%>
                <br class="clearer" />
            </a>
        </li>
      <% end %>
    </ul>

    <div class="grey_spacer"></div>

    <h1>SONGS</h1>

    <ul class="search_list">
     <% @songs.each do |song|  %>
        <li>
            <a href="#">
                <%= avatar_for(song, :small, {:alt => " #{song.title}"}) %>
                <b> <%= song.title %> </b><br/>
                <%= song.album.owner.name %>
                <br class="clearer" />
            </a>
        </li>
      <% end %>
    </ul>

    <div class="grey_spacer"></div>

    <h1>USERS</h1>

    <ul class="search_list">
     <% @users.each do |user|  %>
        <li>
            <a href="#">
                <%= avatar_for(user, :small, {:alt => " #{user.name}"}) %>
                <b> <%= user.name %> </b><br/>
                <br class="clearer" />
            </a>
        </li>
      <% end %>
    </ul>

    <div class="grey_spacer"></div>



</div><!--/end oveflow_list -->

<div class="search_term">
  search for <%= query %>
</div>

