<% @results.each_pair do |key, value| %>
  <% @artists = value if key=='Artist'%>
  <% @albums = value if key=='Album'%>
  <% @songs = value if key=='Song'%>
  <% @users = value if key=='User'%>
  <% @stations = value if key=='AbstractStation'%>
<% end %>
<div class="oveflow_list">
  <div class="search_results_header"><h1><%= t('basics.artists')%> </h1></div>
  <div class="search_results_ajax"><%= image_tag "/images/ajax_activity_indicators_download_animated_icon_animated_busy.gif" %></div>
  <div class="clearer"></div>


  <ul class="search_list">
   <% @artists.each do |artist|  %>
      <li>
        <a href="/<%= artist.slug %>">
          <%= avatar_for(artist, :search, {:alt => " #{artist.name}"}) %>
          <b> <%= artist.name %> </b><br/>
          <br class="clearer" />
        </a>
      </li>
    <% end %>
  </ul>

  <div class="grey_spacer"></div>

  <h1><%= t('basics.albums')%></h1>

  <ul class="search_list">
   <% @albums.each do |album|  %>
      <li>
        <a href="<%= artist_album_path(album.owner, album, :autoplay => "true") %>">
          <%= avatar_for(album, :search, {:alt => " #{album.name}"}) %>
          <b> <%= album.name %> </b><br/>
          <%= album.owner.name unless album.owner.nil?%>
          <br class="clearer" />
        </a>
      </li>
    <% end %>
  </ul>

  <div class="grey_spacer"></div>

  <h1><%= t('basics.stations')%></h1>

  <ul class="search_list">
   <% @stations.each do |station|  %>
      <li>
        <a href="<%= radio_path(:station_id => station.id) %>">
          <%= avatar_for(station.artist, :search, {:alt => " #{station.name}"}) %>
          <b> <%= station.name %> </b><br/>
          <%= station.artist.name unless station.artist.nil? %>
          <br class="clearer" />
        </a>
      </li>
    <% end %>
  </ul>

  <div class="grey_spacer"></div>

  <h1><%= t('basics.people')%></h1>

  <ul class="search_list">
   <% @users.each do |user|  %>
      <li>
        <a href="/<%= user.slug%>">
          <%= avatar_for(user, :search, {:alt => " #{user.name}"}) %>
          <b> <%= user.name %> </b><br/>
          <br class="clearer" />
        </a>
      </li>
    <% end %>
  </ul>

  <div class="grey_spacer"></div>



</div><!--/end oveflow_list -->

<div class="search_term">
  search for <%= query %>
</div>

