<% form_for :search, :url => search_path, :html => { :onsubmit => 'return Base.main_search.buildSearchUrl();', :method => :get, :id => :main_search_form } do |f| %>
  <div class="title">Search Music on Cyloop</div>

  <span class="text_input_placeholder">
      <%= text_field_tag :q, query.nil? ? "Enter artist name" : query,  {:id => :search_query, :class => "search_input", :onfocus => "clearInput('Enter artist name', this);", :onblur => "restoreInput('Enter artist name', this);"} %>
      <% if site_includes(:msnbr)%>
        <%= f.hidden_field :market, :name => :mkt, :value => 'pt-BR'%>
      <% elsif site_includes(:msnmx)%>
        <%= f.hidden_field :market, :name => :mkt, :value => 'es-MX'%>
        <%= f.hidden_field :FORM, :name => "FORM", :value => "MSNH74" %>
      <% elsif site_includes(:msnlatam, :msnar)%>
        <%= f.hidden_field :market, :name => :mkt, :value => 'es-XL'%>
      <% elsif site_includes(:msnlatino)%>
        <%= f.hidden_field :market, :name => :mkt, :value => 'es-us'%>
        <%= f.hidden_field :FORM, :name => "FORM", :value => "MSNHES"%>
      <% elsif site_includes(:msncafr, :msncaen)%>
        <% f.hidden_field :FORM, :value => 'SBENTE' %>
      <% elsif site_includes(:msncaen)%>
        <%= f.hidden_field :market, :name => :mkt, :value => 'en-ca'%>
      <% elsif site_includes(:msncafr)            %>
        <%= f.hidden_field :market, :name => :mkt, :value => 'fr-ca' %>
      <% else %>
        <%= f.hidden_field :market, :name => :mkt, :value => 'es-us' %>
      <% end %>
  </span>

  <span class="btn_placeholder">
      <a href="#" onclick="return Base.main_search.buildSearchUrl();" class="blue_button"><span><span>SEARCH</span></span></a>
  </span>
  <br/>

  <div class="sorting">
      <a href="#" class="active">ARTISTS</a> / <a href="#">STATIONS</a> / <a href="#">ALBUMS</a> / <a href="#">USERS</a>
  </div>
<% end %>

