<h5><%= t('basics.stations')%></h5>

<div class="sorting">
  <%= sort_link_to :relevance %> /
  <%= sort_link_to :alphabetical %>
</div>


<ul class="subcriptions_list">
<%= render :partial => 'shared/artist_abstract_station', :collection => @results[:stations] %>
</ul>
<div class="pagination">
  <%= will_paginate @results[:stations], pagination_args %>
</div>

