<h1><%= t('basics.stations')%></h1>

<div class="sorting">
   <%= link_to "RELEVANCE ", "/search/#{params[:mkt]}/station/#{params[:q]}?order=def" , :class => params[:order]=='def' ? "active": "" %> /  <%= link_to "ALPHABETICAL ", "/search/#{params[:mkt]}/station/#{params[:q]}?order=alpha" , :class => params[:order]=='alpha'? "active": "" %> / <%= link_to "LATEST ", "/search/#{params[:mkt]}/station/#{params[:q]}?order=rel" , :class => params[:order]=='rel' || params[:order].blank? ? "active": "" %>
</div>


<ul class="subcriptions_list">
  <% @results.each do |station|%>
    <li>
                                <a href="#"><img src="images/listen_icon.png" class="listen_icon png_fix" alt="" title="Listen" /></a>

                                <div class="four_thubms_big">
                                    <a href="#"><%= avatar_for(station.artist.albums.first, :search_station, {:alt => station.artist.albums.first.name} ) rescue avatar_for(station.artist, :search_station, {:alt => ""} ) %></a>
                                    <% station.includes.each do |included_artist| %>
                                      <a href="#"><%= avatar_for(included_artist.albums.first, :search_station, {:alt => ""} ) rescue avatar_for(included_artist.artist, :search_station, {:alt => ""} ) %></a>
                                    <% end %>
                                </div><!--/end four_thubms_big -->

                                <div class="subcription_text">
                                    <big><a href="#"><%= station.name%></a></big><br/>
                                    <span class="grey">Last modified: <%= station.updated_at.strftime("%m/%d/%Y")
%></span><br/>
                                    Contains:
                                    <% station.includes.each do |included_artist| %>
                                      <a href="#"><%= included_artist.name %></a>,
                                    <% end %>
                                    ...<br/>

                                    <div class="buttons">
                                        <a href="#"><img src="/images/listen_button.png" class="png_fix" alt="" title="Listen" /></a>
                                        <a href="#"><img src="/images/play_button.png" class="png_fix" alt="" title="Play" /></a>
                                    </div>

                                    <div class="subcription_creator">
                                        <div id="logo"><%= avatar_for(station.user_stations.first.owner, :search, {:alt => ""}) rescue "" %></div>
                                        <div class="creator_text">
                                            <b>Created by: <a href="#"><%= station.user_stations.first.owner.name rescue "" %></a></b><br/>
                                            Click <a href="#">here</a> to follow <%= station.user_stations.first.owner.name rescue "" %>.
                                        </div>
                                    </div>
                                </div><!--/end subcription_text -->
                                <br class="clearer" />
                            </li>
  <% end %>
</ul><!--/end followers_list -->

