<h5><%= t('basics.users')%></h5>

<div class="sorting">
  <%= sort_link_to :relevance %> /
  <%= sort_link_to :alphabetical %>
</div>


<ul class="followers_list">
  <% @results[:users].each do |user| %>
  <% is_self = (current_user and current_user == user) %>
    <li>
        <div id="logo"><a href="#"><%= link_to(avatar_for(user, :small, {:alt => "", :class =>"follower_image"}), user) %></a></div>
        <div class="follower_text">
            <b><%= link_to user.name, user %></b><br/>
            <% unless user.country.nil? %>
            <span><%= user.country.name %></span><br/>
            <% end %>
            <%= link_to number_with_delimiter(user.total_user_stations), is_self ? my_stations_path : user_stations_path(user) %> <%= t('basics.stations') %> / <%= link_to number_with_delimiter(user.follower_count), is_self ? my_followers_path : user_followers_path(user) %> <%= t('users.stats.followers') %>
        </div>
        <div class="follower_actions w_settings">
            <%= follow_button(:account => user, :remove_div => false) unless is_self %>
            <div class="blocked">
              <% if current_user && current_user.blocks?(user) %>
              <%= image_tag('blocked.gif') %> <%= t('blocks.blocked') %>
              <% end %>
            </div>
        </div>
        <br class="clearer" />
    </li>
  <% end %>
</ul><!--/end followers_list -->
<div class="pagination">
  <%= will_paginate @results[:users], pagination_args %>
</div>

