<h1>USERS</h1>

<div class="sorting">
    <%= link_to "RELEVANCE ", "/search/#{params[:mkt]}/user/#{params[:q]}?order=rel" , :class => params[:order]=='rel' || params[:order].blank? ? "active": "" %> / <%= link_to "ALPHABETICAL ", "/search/#{params[:mkt]}/user/#{params[:q]}?order=alpha" , :class => params[:order]=='alpha'? "active": "" %>
</div>


<ul class="followers_list">
  <% @results.each do |user|%>
    <li>
        <div id="logo"><a href="#"><%= avatar_for(user, :search, {:alt => "", :class =>"follower_image"}) %></a></div>
        <div class="follower_text">
            <b><a href="#"><%= user.name %></a></b><br/>
            <span><%= user.city %></span><br/>
            <a href="#">3,250</a> Mixes / <a href="#">5,350</a> Stations / <a href="#">5,350</a> Followers
        </div>
        <div class="follower_actions w_settings"">
            <% if current_user && current_user.follows?(user) %>
              <%= green_button(t('actions.unfollow'),
                :onclick => "Base.community.unfollow('#{user.slug}', this, #{following_page?})",
                :class => 'follower_btn') %>
            <% else %>
              <%= blue_button(t('actions.follow'),
                :onclick => "Base.community.follow('#{user.slug}', this, #{following_page?})",
                :class => 'follower_btn') %>
            <% end %>
            <br/>
            <div class="blocked">
              <% if current_user && current_user.blocks?(item) %>
              <%= image_tag('blocked.gif') %> <%= t('blocks.blocked') %>
              <% end %>
            </div>
        </div>
        <br class="clearer" />
    </li>
  <% end %>
</ul><!--/end followers_list -->

