<h1><%= t('basics.people')%></h1>

<div class="sorting">
  <%= sort_link_to :relevance %> / 
  <%= sort_link_to :alphabetical %>
</div>


<ul class="followers_list">
  <% @results[:users].each do |user| %>
    <li>
        <div id="logo"><a href="#"><%= link_to(avatar_for(user, :search, {:alt => "", :class =>"follower_image"}), user) %></a></div>
        <div class="follower_text">
            <b><%= link_to user.name, user %></b><br/>
            <% unless user.country.nil? %>
            <span><%= user.country.name %></span><br/>
            <% end %>
            <%= link_to user.total_user_stations, user_stations_path(user) %> <%= t('basics.stations') %> / <%= link_to user.follower_count, followers_path(user) %> <%= t('users.stats.followers') %>
        </div>
        <div class="follower_actions w_settings">
            <% if current_user && current_user.follows?(user) %>
              <%= green_button(t('actions.unfollow'),
                :onclick => "Base.community.unfollow('#{user.slug}', this, #{following_page?})",
                :class => 'follower_btn') %>
            <% else %>
              <%= blue_button(t('actions.follow'),
                :onclick => "Base.community.follow('#{user.slug}', this, #{following_page?})",
                :class => 'follower_btn') %>
            <% end %>
            <br/>
            <div class="blocked">
              <% if current_user && current_user.blocks?(user) %>
              <%= image_tag('blocked.gif') %> <%= t('blocks.blocked') %>
              <% end %>
            </div>
        </div>
        <br class="clearer" />
    </li>
  <% end %>
</ul><!--/end followers_list -->
<div class="pagination">
  <%= will_paginate @results[:users], pagination_args %>
</div>

