<h1><%= t('basics.people')%></h1>

<div class="sorting">
    <%= link_to t('sort.relevance'), "/search/#{params[:mkt]}/user/#{params[:q]}?order=rel" , :class => params[:order]=='rel' || params[:order].blank? ? "active": "" %> / <%= link_to t('sort.newest'), "/search/#{params[:mkt]}/user/#{params[:q]}?order=new" , :class => params[:order]=='new' ? "active": "" %> / <%= link_to t('sort.alphabetical'), "/search/#{params[:mkt]}/user/#{params[:q]}?order=alpha" , :class => params[:order]=='alpha'? "active": "" %>
</div>


<ul class="followers_list">
  <% @results.each do |user|%>
    <li>
        <div id="logo"><a href="#"><%= link_to(avatar_for(user, :search, {:alt => "", :class =>"follower_image"}), user) %></a></div>
        <div class="follower_text">
            <b><%= link_to user.name, user %></b><br/>
            <span><%= user.city %></span><br/>
            <a href="#"><%= user.total_user_stations %></a> <%= t('basics.stations') %> / <a href="#"><%= user.followers.size.to_s %></a> <%= t('users.stats.followers') %>
        </div>
        <div class="follower_actions w_settings"">
            <% if current_user && current_user.follows?(user) %>
              <%= green_button(t('actions.unfollow'),
                :onclick => "Base.community.unfollow('#{user.slug}', this, #{following_page?})",
                :class => 'follower_btn') %>
            <% else %>
              <%= blue_button(t('actions.follow'),
                :onclick => "Base.community.follow('#{user.slug}', this, #{following_page?})",
                :class => 'follower_btn') %>
            <% end %>
            <br/>
            <div class="blocked">
              <% if current_user && current_user.blocks?(user) %>
              <%= image_tag('blocked.gif') %> <%= t('blocks.blocked') %>
              <% end %>
            </div>
        </div>
        <br class="clearer" />
    </li>
  <% end %>
</ul><!--/end followers_list -->

