<% if current_user %>
  <div id="following" style="display:<%= current_user.follows?(user) ? 'block' : 'none' %>" >
    <%= t('basics.you_are', :default => "You are") %> <span class="green_highlight"><%= t('actions.unfollow', :default => "unfollowing").downcase %></span> <%= user.name rescue "" %>
    <%= t("basics.click_to_unfollow",
          :follow_link => link_to(t("basics.here", :default => "here"), "javascript:",
          :onclick => "Base.main_search.unfollow('#{user.slug}', this)"), :default =>  "Click {{follow_link}} to stop following") rescue "" %>.
  </div>
  <div id="not_following" style="display:<%= current_user.follows?(user) ? 'none' : 'block' %>" >
      <%= t("basics.click_to_follow",
          :follow_link => link_to(t("basics.here", :default => "here"), "javascript:",
          :onclick => "Base.main_search.follow('#{user.slug}', this)"), :default => "Click {{follow_link}} to follow") rescue "" %>
      <%= user.name rescue "" %>.
  </div>
<% else %>
  <div id="not_following" style="display: block" >
      <%= t("basics.click_to_follow",
          :follow_link => link_to(t("basics.here", :default => "here"), "javascript:",
          :onclick => "Base.main_search.follow('#{user.slug}', this)"), :default => "Click {{follow_link}} to follow") rescue "" %>
      <%= user.name rescue "" %>.
  </div>
<% end %>

