<div id="internal_content">
  <div id="main_content">
      <div class="two_columns">
          <div class="search_box">
              <%= render :partial => 'search_form',  :locals => {:query => params[:q]} %>
          </div><!--/end search_box -->

          <div id="left_column">
              <ul class="side_links">
                  <li><a href="#" class="active">Artists (<%= @counts["Artist"].to_s %>)</a></li>
                  <li><a href="#">Stations (<%= @counts["Station"].to_s %>)</a></li>
                  <li><a href="#">Albums(<%= @counts["Album"].to_s %>)</a></li>
                  <li class="last"><a href="#">Users (<%= @counts["User"].to_s %>)</a></li>
              </ul>
          </div><!--/end left_column -->

          <div id="center_column">
              <%= render :partial => 'artist', :object => @artists %>
              <div class="pagination">
              <%= will_paginate @artists, pagination_args%>
              </div>
          </div><!--/end center_column -->
      </div><!--/end two_columns -->

      <div id="right_column">
          <div class="ad_box">
              <a href="#"><img src="/images/ad.jpg" alt="" /></a>
          </div>
      </div><!--/end right_column -->

      <div class="clearer"></div>
  </div><!--/end main_content -->
</div><!--/end internal_content -->

