<script type="text/javascript">
   $(document).ready(function() {
      Base.main_search.initialize_scope_toggle();
    });


</script>
<div id="main_content">
  <div class="two_columns">
    <div class="search_box">
      <%= render  :partial =>'search_form',  :locals => {:query => params[:q]} %>
    </div><!--/end search_box -->
    <h3 class="search_result"><%= "#{t('search.search_results_for')} \"#{params[:q]}\"" %></h3>
    <div id="left_column">
      <%= render 'side_link', :object => @counts , :locals => {:active_scope => @active_scope} %>
    </div><!--/end left_column -->
    <div id="center_column" class="search_results">
      <% @search_types.each do |type| %>
      <div id="<%= type.to_s %>_result" class="scope_result<%= @active_scope == type ? '' : ' hide' %>">
      <%= render type.to_s %>
      </div>
      <% end %>
    </div><!--/end center_column -->
  </div><!--/end two_columns -->

  <div id="right_column">
    <div class="ad_box">
      <a href="#"><img src="/images/ad.jpg" alt="" /></a>
    </div>
  </div><!--/end right_column -->

  <div class="clearer"></div>
</div><!--/end main_content -->
