<script type="text/javascript">
   $(document).ready(function() {
      Base.main_search.initialize_scope_toggle();
    });
</script>
<div id="main_content">
  <div class="two_columns">
    <div class="search_box">
      <%= render :partial =>'search_form' %>
    </div><!--/end search_box -->
    <% unless @query.nil? %>
      <h3 class="search_result"><%= "#{t('search.search_results_for')} \"#{@query.nil? ? '' : @query}\"" %></h3>
    <% end %>
    <div id="left_column">
      <% unless @query.nil? %>
        <%= render 'scope_toggle' %>
      <% end %>
    </div><!--/end left_column -->
    <div id="center_column" class="search_results">
      <% unless @query.nil? %>
        <% @search_types.each do |type| %>
        <div id="<%= type.to_s %>_result" class="scope_result<%= @active_scope == type ? '' : ' hide' %>">
        <%= render type.to_s %>
        </div>
        <% end %>
      <% end %>
    </div><!--/end center_column -->
  </div><!--/end two_columns -->

  <div id="right_column">
    <div class="ad_box">
      <%= banner_ad("square_banner") %>
    </div>
  </div><!--/end right_column -->

  <div class="clearer"></div>
</div><!--/end main_content -->
