<div class="side_user_box">
  <%= avatar_for(profile_account, :album, :class => 'side_user_image', :disable_default_css => true) %>
  <div class="overlay png_fix">
    <div class="overlay_content">
      <big>
        <%= link_to(profile_account.name, "") %>
      </big>
      <br />
      <%= profile_account.location %>
    </div>
  </div>
</div>
<div class="big_black_box">
  <%= render 'dashboards/user_info' if profile_user? %>
  <%= render 'dashboards/websites'  if profile_account.websites %>
</div>
