<ul class="comments_list" id="network_comment_list">
  <% @latest_activity_status.each do |activity, i| %>
    <li>
        <%= link_to(image_tag(activity['user_avatar']), '#') %>
        <div class="comment_text">
            <b>
              <%= link_to activity['user_slug'], '#' %>
            </b> 
            <%= activity['message'] %>
            <br/>
            <span timestamp="<%= activity['timestamp'] %>" class="grey">
              <%= nice_elapsed_time(activity['timestamp']) %>
            </span>
        </div>
        <div class="clearer"></div>
    </li>
  <% end %>
</ul>

<div class="align_right" id="show_more_comments" <%= 'style="display:none;"' if (@latest_activity_status and @latest_activity_status.size < 5) %>>
  <a href="#" class="blue_button"><span><span><%= t('actions.show_more') %></span></span></a>
</div>
