<div id="left_column">
  <%= render 'dashboards/account_info' unless profile_owner? %>

  <div class="black_boxes">
    <%= render 'dashboards/user_stations_and_visits'   if profile_user?  %>
    <%= render 'dashboards/following_count' if profile_owner? %>
    <div class="clearer"></div>
  </div><!--/end black_boxes -->

  <%= render 'dashboards/user_buttons' %>
  <%= user_sidebar_links %>
</div><!--/end left_column -->
