<div id="left_column">
  <%= render 'dashboards/account_info' unless profile_owner? %>

  <% if profile_user? %>
    <div class="black_boxes">
      <%= render 'dashboards/user_stations_mixes_and_visits' %>
      <%= render 'dashboards/following_count' if profile_owner? %>
      <div class="clearer"></div>
    </div><!--/end black_boxes -->
  <% end %>
  
  <% if profile_artist? %>
    <div class="black_boxes">
      <%= render 'dashboards/user_stations_mixes_and_visits' %>
      <div class="clearer"></div>
    </div><!--/end black_boxes -->
  
    <%if profile_account.websites %>
      <div class="big_black_box">
        <%= render 'dashboards/websites' %>
      </div>
    <% end %>
    
    <div class="big_black_box">
      <%= link_to(image_tag('play_button.png', :title => t('actions.play')), radio_path(:station_id => profile_artist.station.id), :class => 'play_button') %>
      <span>
        <b><span class="blue"><%= link_to profile_artist.station.name, profile_artist %></span></b>
        <br/>
      </span>
      <br class="clearer" />
      <%= station_contains(profile_artist.station) %>
    </div>
  <% end %>

  
  
  <%= render 'dashboards/user_buttons' %>
  <%= user_sidebar_links %>
</div><!--/end left_column -->
