.module.ad.first
  = banner_ad("square_banner")

.module.following.clearfix
  = render :partial => 'modules/followers', :object => profile_user.followees.first(24), :locals => { :header_key => t('dashboards.following.title') }, :inline => true

.module.recommended_artists.clearfix
  = render 'dashboards/recommended_artists', :recommended_artists => recommended_artists(6), :inline => true

.module.recent_stations.clearfix
  = render 'modules/recent_stations'

.module.top_artists_profile.last.clearfix
  = render 'modules/top_artists'

