<% if profile_account.total_user_stations > @latest_stations.size %>
<b class="right_side"><%= link_to(t('actions.view_more'), profile_owner? ? my_stations_path : user_stations_path ) %></b>
<% end %>
<h5><%= t("dashboards.#{profile_account.class.to_s.downcase}_latest_stations", :name => artist_or_user_name(profile_account)) %></h5>
<% if @latest_stations.empty? %>
  <div class="big_round_box png_fix">
    <%= t("user.hasnt_create_any_station", :user_name => artist_or_user_name(profile_account)) if profile_user? %>
    <%= t("artist.be_the_first_to_create_station", :user_name => artist_or_user_name(profile_account)) if profile_artist? %>
  </div>
<% else %>
  <%= render :partial => 'shared/user_station', :collection => @latest_stations, :locals => { :columns => 3, :includes => nil } %>
  <% index = max_stations - @latest_stations.size %>
  <% index.times do |i| %>
    <div class="empty_box gb_big <%= "last_box" if i == (index-1) or (i+1+@latest_stations.size) % 3 == 0 %>">
      &nbsp;
    </div>
    <% if (i+1+@latest_stations.size) % 3 == 0 %>
      <br class="clearer" />
    <% end %>
  <% end %>
<% end %>

