<% content_for :javascript do %>
  var recommended_stations_queue = [<%= @recommended_stations_queue.collect(&:artist_id).join(", ") if @recommended_stations_queue %>];
  
  Base.network.load_latest();
<% end %>

<div id="internal_content">
  <div id="main_content">

    <%= render 'dashboards/left_column' %>

    <div id="center_column">

      <%= render profile_owner? ? 'dashboards/recommended_stations' : 'dashboards/user_latest_stations' %>
      <%= render 'dashboards/network_activity' %>
      <%= render 'dashboards/comment_list' if profile_user? %>

    </div><!--/end center_column -->

    <%= render 'dashboards/right_column' %>

    <div class="clearer"></div>
  </div><!--/end main_content -->

</div><!--/end internal_content -->
