<%= render 'shared/ajax_modules' %>
<div id="main_content">

  <%= render 'dashboards/left_column' %>

  <div id="center_column">
    <%= render :partial => 'dashboards/recommended_mixes', :locals => { :title => t("modules.top_playlists.title").upcase } %>
    <br />
    <%= render 'dashboards/recommended_stations' %>
    <% if false %>
    <%= render 'dashboards/network_activity' %>
    <%= render :partial => 'activities/all', :locals => {:limit => 5, :hide_sorting => profile_owner?} %>
    <% end %>
  </div><!--/end center_column -->

  <%= render 'dashboards/right_column' %>

  <div class="clearer"></div>
</div><!--/end main_content -->
