<%= render 'shared/ajax_modules' %>
<div id="main_content">

  <%= render 'dashboards/left_column' %>

  <div id="center_column">
    <% if profile_owner? %>
    <%= render'dashboards/recommended_stations' %>
    <%= render 'dashboards/network_activity' %>
    <%= render 'dashboards/comment_list' if profile_user? %>
    <% else %>
    <%=  render :partial => 'dashboards/user_latest_stations', :locals => { :max_stations => profile_artist? ? 3 : 6 } %>
    <br />
    <br />
    <%=  render :partial => 'dashboards/artist_latest_albums' if profile_artist? %>
    <% end %>
  </div><!--/end center_column -->

  <%= render 'dashboards/right_column' %>

  <div class="clearer"></div>
</div><!--/end main_content -->