<div id="internal_content">
    <div id="main_content">
        <div id="left_column">
            <div class="black_boxes">
                <div class="black_box left_side">
                    <big class="blue">
                      <%= link_to(number_with_delimiter(profile_user.playlists.size), '') %>  
                    </big>
                    <br/>
                    Mixes
                </div>
                
                <div class="black_box right_side">
                    <big class="blue">
                      <%= link_to "#{profile_user.stations.size}", my_stations_path %>
                    </big>
                    <br/>
                    Stations
                </div>
                
                <div class="clearer"></div>
                
                <div class="black_box left_side">
                    <big class="blue">
                      <%= link_to(number_with_delimiter(profile_account.follower_count), followers_path) %>
                    </big>
                    <br/>
                    Followers
                </div>
                
                <div class="black_box right_side">
                  <big class="blue">
                    <%= link_to(number_with_delimiter(profile_account.followee_count), following_index_path) %>
                  </big>
                  <br/>
                    Following
                </div>
                
                <div class="clearer"></div>
            </div><!--/end black_boxes -->
            
            <a href="#" class="blue_button full_width"><span><span>CREATE A MIX</span></span></a>
            
            <a href="#" class="blue_button full_width"><span><span>CREATE A STATION</span></span></a>
            
            <ul class="side_links">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Mixes</a></li>
                <li><a href="#">Stations</a></li>
                <li><a href="#">Subscriptions</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Activity</a></li>
                <li><a href="#">Followers</a></li>
                <li><a href="#">Following</a></li>
                <li class="last"><a href="#">Account Settings</a></li>
            </ul>
        </div><!--/end left_column -->
        
        <div id="center_column">
            <h1>MIXES RECOMMENDED BY CYLOOP</h1>
            <% @mixes_recommended.each_with_index do |artist, i| %>
              <% if ((i+1) % 3) == 0 %>
                <%= render :partial => 'artists/box', :locals => {:style => 'last_box', :clearer => true} %>
              <% else %>
                <%= render :partial => 'artists/box' %>
              <% end %>
            <% end %>
            <br/>
            
            <h1>STATIONS RECOMMENDED BY CYLOOP</h1>
            <% @stations_recommended.each_with_index do |artist, i| %>
              <% if ((i+1) % 3) == 0 %>
                <%= render :partial => 'artists/box', :locals => {:style => 'last_box', :clearer => true} %>
              <% else %>
                <%= render :partial => 'artists/box' %>
              <% end %>
            <% end %>
            <br/>
            
            <h1>NETWORK UPDATE</h1>
            <div class="network_update">
                <form action="" method="post">
                    <div>
                        <%= image_tag('network_icon.gif', :class => 'network_icon') %>
                        
                        <textarea rows="3" cols="20"></textarea>
                        <%= image_tag('network_arrow.gif', :class => 'network_arrow') %>
                        
                        <div class="clearer"></div>
                        
                        <div class="update_text">
                            <b>Demian Lopez</b> - Lorem ipsum dolor amet, consectetuer adt, sed diam nonummy ipsum dolor sit amet, consectetuer adt, sed diam nonummy... <a href="#">http://tumblr.com/xkv5zlm1r</a><br/>
                            
                            <span class="grey">1 day ago from Twitter </span>
                        </div>
                        
                        <a href="#" class="blue_button compartir_button"><span><span>COMPARTIR</span></span></a>
                        
                        <div class="network_twitter">
                            <input type="checkbox" />
                            <%= link_to(image_tag('twitter_icon.gif'), '#') %>
                            &nbsp;
                        </div>
                        
                        <div class="clearer"></div>
                    </div>
                </form>
            </div><!--/end network_update -->
            
            <%= render 'comment_list' %>
            
            <div class="align_right">
                <a href="#" class="blue_button"><span><span>SHOW MORE</span></span></a>
            </div>
        </div><!--/end center_column -->
        
        <div id="right_column">
            <div class="ad_box">
                <%= link_to(image_tag('ad.jpg'), '#') %>
            </div>
            
            <div class="grey_box">
                <div class="box_content">
                    <h1>CYLOOP RECOMMENDS</h1>
                    <% recommended_artists.each_with_index do |artist, i| %>
                      <% if ((i+1) % 4) == 0 %>
                        <%= render :partial => 'artists/small_box', :locals => {:style => 'last_thumb', :clearer => true, :artist => artist} %>
                      <% else %>
                        <%= render :partial => 'artists/small_box', :locals => {:artist => artist} %>
                      <% end %>
                    <% end %>
                </div><!--/end box_content -->
                
                <div class="box_content">
                    <h1>TOP MIXES</h1>
                    
                    <div class="big_text">
                        <a href="#">Click here</a> to create<br/>your first mix
                    </div>
                </div><!--/end grey_box -->
                
                <div class="box_content">
                    <h1>TOP STATIONS</h1>
                    
                    <div class="big_text">
                        <a href="#">Click here</a> to create<br/>your first station
                    </div>
                </div><!--/end grey_box -->
            </div><!--/end grey_box -->
        </div><!--/end right_column -->
        
        <div class="clearer"></div>
    </div><!--/end main_content -->
</div><!--/end internal_content -->
