<div id="internal_content">
    <div id="main_content">
        <div id="left_column">
            <div class="black_boxes">
                <div class="black_box left_side">
                    <big class="blue"><a href="#">12,3698</a></big><br/>
                    Mixes
                </div>
                
                <div class="black_box right_side">
                    <big class="blue"><a href="#">3,849</a></big><br/>
                    Stations
                </div>
                
                <div class="clearer"></div>
                
                <div class="black_box left_side">
                    <big class="blue"><a href="#">12</a></big><br/>
                    Followers
                </div>
                
                <div class="black_box right_side">
                    <big class="blue"><a href="#">3,849</a></big><br/>
                    Following
                </div>
                
                <div class="clearer"></div>
            </div><!--/end black_boxes -->
            
            <a href="#" class="blue_button full_width"><span><span>CREATE A MIX</span></span></a>
            
            <a href="#" class="blue_button full_width"><span><span>CREATE A STATION</span></span></a>
            
            <ul class="side_links">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Mixes</a></li>
                <li><a href="#">Stations</a></li>
                <li><a href="#">Subscriptions</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Activity</a></li>
                <li><a href="#">Followers</a></li>
                <li><a href="#">Following</a></li>
                <li class="last"><a href="#">Account Settings</a></li>
            </ul>
        </div><!--/end left_column -->
        
        <div id="center_column">
            <h1>MIXES RECOMMENDED BY CYLOOP</h1>
            
            <div class="artist_box png_fix">
                <%= image_tag 'artist_image.jpg' %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <div class="artist_box png_fix">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <div class="artist_box png_fix last_box">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <br class="clearer" />
            
            <div class="artist_box png_fix">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <div class="artist_box png_fix">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <div class="artist_box png_fix last_box">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <br class="clearer" />
            
            <br/>
            
            <h1>STATIONS RECOMMENDED BY CYLOOP</h1>
            
            <div class="artist_box png_fix">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <div class="artist_box png_fix">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <div class="artist_box png_fix last_box">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <br class="clearer" />
            
            <div class="artist_box png_fix">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <div class="artist_box png_fix">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <div class="artist_box png_fix last_box">
                <%= image_tag('artist_image.jpg') %>
                
                <span class="close_btn">Close</span>
                
                <div class="overlay">
                    <div class="hidden">
                        <%= link_to(image_tag('artist_icon.gif', :class => 'artist_icon'), '#') %>
                        <span>
                            <span class="blue">Jason Calleiro</span><br/>
                            09/10/10
                        </span>
                        <br class="clearer" />
                        
                        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
                        
                        <br/><br/>
                        <b><a href="#">Alice in Chains</a></b><br/>
                        <b><a href="#">Station</a></b>
                    </div>
                    
                    <div class="visible">
                        <%= link_to(image_tag('play_button.png', :class => 'play_button'), '#') %>
                    </div>
                </div><!--/end overlay -->
            </div><!--/end artist_box -->
            
            <br class="clearer" />
            
            <br/>
            
            <h1>NETWORK UPDATE</h1>
            
            <div class="network_update">
                <form action="" method="post">
                    <div>
                        <%= image_tag('network_icon.gif', :class => 'network_icon') %>
                        
                        <textarea rows="3" cols="20"></textarea>
                        <%= image_tag('network_arrow.gif', :class => 'network_arrow') %>
                        
                        <div class="clearer"></div>
                        
                        <div class="update_text">
                            <b>Demian Lopez</b> - Lorem ipsum dolor amet, consectetuer adt, sed diam nonummy ipsum dolor sit amet, consectetuer adt, sed diam nonummy... <a href="#">http://tumblr.com/xkv5zlm1r</a><br/>
                            
                            <span class="grey">1 day ago from Twitter </span>
                        </div>
                        
                        <a href="#" class="blue_button compartir_button"><span><span>COMPARTIR</span></span></a>
                        
                        <div class="network_twitter">
                            <input type="checkbox" />
                            <%= link_to(image_tag('twitter_icon.gif'), '#') %>
                            &nbsp;
                        </div>
                        
                        <div class="clearer"></div>
                    </div>
                </form>
            </div><!--/end network_update -->
            
            <ul class="comments_list">
                <li>
                    <%= link_to(image_tag('comment_icon.gif', :class => 'comment_icon'), '#') %>
                    <div class="comment_text">
                        <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>
                        <span class="grey">5 days ago</span>
                    </div>
                    <div class="clearer"></div>
                </li>
                <li>
                    <%= link_to(image_tag('comment_icon.gif', :class => 'comment_icon'), '#') %>
                    <div class="comment_text">
                        <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>
                        <span class="grey">5 days ago</span>
                    </div>
                    <div class="clearer"></div>
                </li>
                <li>
                    <%= link_to(image_tag('comment_icon.gif', :class => 'comment_icon'), '#') %>
                    <div class="comment_text">
                        <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>
                        <span class="grey">5 days ago</span>
                    </div>
                    <div class="clearer"></div>
                </li>
                <li>
                    <%= link_to(image_tag('comment_icon.gif', :class => 'comment_icon'), '#') %>
                    <div class="comment_text">
                        <b><a href="#">Jason</a></b> Lorem ipsum dolor sit amet sed diam nonummy, consectetuer adt, sed diam nonummy...<br/>
                        <span class="grey">5 days ago</span>
                    </div>
                    <div class="clearer"></div>
                </li>
            </ul>
            
            <div class="align_right">
                <a href="#" class="blue_button"><span><span>SHOW MORE</span></span></a>
            </div>
        </div><!--/end center_column -->
        
        <div id="right_column">
            <div class="ad_box">
                <%= link_to(image_tag('ad.jpg'), '#') %>
            </div>
            
            <div class="grey_box">
                <div class="box_content">
                    <h1>CYLOOP RECOMMENDS</h1>
                    
                    <div class="small_thumb">
                        <span class="close_btn">Close</span>
                        <%= link_to(image_tag('comment_icon.gif', :class => 'spaced_img'), '#')%>
                        <a href="#">Madonna</a>
                    </div>
                    
                    <div class="small_thumb">
                        <span class="close_btn">Close</span>
                        <%= link_to(image_tag('comment_icon.gif', :class => 'spaced_img'), '#')%>
                        <a href="#">Ariel Bellumio</a>
                    </div>
                    
                    <div class="small_thumb">
                        <span class="close_btn">Close</span>
                        <%= link_to(image_tag('comment_icon.gif', :class => 'spaced_img'), '#')%>
                        <a href="#">David Salazar</a>
                    </div>
                    
                    <div class="small_thumb last_thumb">
                        <span class="close_btn">Close</span>
                        <%= link_to(image_tag('comment_icon.gif', :class => 'spaced_img'), '#')%>
                        <a href="#">Javier Urquiza</a>
                    </div>
                    
                    <br class="clearer" />
                    
                    <div class="small_thumb">
                        <span class="close_btn">Close</span>
                        <%= link_to(image_tag('comment_icon.gif', :class => 'spaced_img'), '#')%>
                        <a href="#">Madonna</a>
                    </div>
                    
                    <div class="small_thumb">
                        <span class="close_btn">Close</span>
                        <%= link_to(image_tag('comment_icon.gif', :class => 'spaced_img'), '#')%>
                        <a href="#">Ariel Bellumio</a>
                    </div>
                    
                    <div class="small_thumb">
                        <span class="close_btn">Close</span>
                        <%= link_to(image_tag('comment_icon.gif', :class => 'spaced_img'), '#')%>
                        <a href="#">David Salazar</a>
                    </div>
                    
                    <div class="small_thumb last_thumb">
                        <span class="close_btn">Close</span>
                        <%= link_to(image_tag('comment_icon.gif', :class => 'spaced_img'), '#')%>
                        <a href="#">Javier Urquiza</a>
                    </div>
                    
                    <br class="clearer" />
                </div><!--/end box_content -->
                
                <div class="box_content">
                    <h1>TOP MIXES</h1>
                    
                    <div class="big_text">
                        <a href="#">Click here</a> to create<br/>your first mix
                    </div>
                </div><!--/end grey_box -->
                
                <div class="box_content">
                    <h1>TOP STATIONS</h1>
                    
                    <div class="big_text">
                        <a href="#">Click here</a> to create<br/>your first station
                    </div>
                </div><!--/end grey_box -->
            </div><!--/end grey_box -->
        </div><!--/end right_column -->
        
        <div class="clearer"></div>
    </div><!--/end main_content -->
</div><!--/end internal_content -->
