<% content_for :javascript do %>
  var recommended_stations_queue = [<%= @recommended_stations_queue.collect(&:artist_id).join(", ") %>];
<% end %>

<div id="internal_content">
    <div id="main_content">
        <%= render :partial => 'dashboards/left_column' %>
        <div id="center_column">
            <!--
            <h1><%= t('home.recommended_mixes') %></h1>
            <% @mixes_recommended.each_with_index do |artist, i| %>
              <% if ((i+1) % 3) == 0 %>
                <%= render :partial => 'artists/box', :locals => {:style => 'last_box', :clearer => true} %>
              <% else %>
                <%= render :partial => 'artists/box' %>
              <% end %>
            <% end %>
            <br/>
            -->
            
            <h1><%= t('home.recommended_stations') %></h1>
            <%= render :partial => 'shared/recommended_stations' %>
            
            <h1><%= t('home.network_update') %></h1>
            <div class="network_update">
                <form id="network_update_form" action="" method="post">
                    <div>
                        <%= image_tag('network_icon.gif', :class => 'network_icon') %>
                        <textarea name="comment" rows="3" cols="20"></textarea>
                        <%= image_tag('network_arrow.gif', :class => 'network_arrow') %>
                        <div class="clearer"></div>
                        
                        <div class="update_text">
                            <b>username</b>
                            -
                            texto
                            <br/>
                            
                            <span class="grey">1 day ago</span>
                        </div>
                        
                        <%= blue_button('COMPARTIR', :class => 'compartir_button', :onclick => 'Base.network.submit_form()') %>
                        
                        
                        <div class="network_twitter">
                            <input type="checkbox" />
                            <%= link_to(image_tag('twitter_icon.gif'), '#') %>
                            &nbsp;
                        </div>
                        
                        <div class="clearer"></div>
                    </div>
                </form>
            </div><!--/end network_update -->
            
            <%= render 'dashboards/comment_list' %>
            
            <div class="align_right">
                <a href="#" class="blue_button"><span><span>SHOW MORE</span></span></a>
            </div>
        </div><!--/end center_column -->
        
        <%= render :partial => 'dashboards/right_column' %>
        
        <div class="clearer"></div>
    </div><!--/end main_content -->
</div><!--/end internal_content -->
