<div class="sorting ajax_sorting">
  <%= sort_link_to :latest %>
  /
  <%= sort_link_to :top %>
  /
  <%= sort_link_to :alphabetical %>
</div>
<%= render 'list' %>
<% if @collection.respond_to? :total_pages %>
  <%= will_paginate @collection, pagination_args %>
<% end %>
