<li>
    <% if false #phase 2 - subscriptions %>
    <a href="#"><img src="images/listen_icon.png" class="listen_icon png_fix" alt="" title="Listen" /></a>
    <% end %>
      <%= four_thumbs_to(artist_user_station.station, :type => :big) %>
      <div class="transparency_thumbanils png_fix">
        <%= link_to(image_tag('play_button.png', :title => t('actions.play'), :class => 'png_fix'), radio_path(:station_id => artist_user_station.station.id)) %>
      </div>

    <div class="subcription_text">
        <big><%= link_to(artist_user_station.name, radio_path(:station_id => artist_user_station.station)) %></big>
        <br/>
        <span class="grey">
          <%= t("basics.last_modified") %>: <%= t('basics.created_at', :when => nice_elapsed_time(artist_user_station.created_at)) %>
        </span>
        <br/>
        <div class="tags_contains">
          <%= station_contains(artist_user_station) %>
        </div>
        <br/>
        <br/>
        <div class="subcription_creator">
            <%= link_to avatar_for(artist_user_station.owner, :artist_icon), artist_user_station.owner %>
            <!--img src="images/network_icon.gif" class="creator_image" alt="" /-->
            <div class="creator_text">
                <b><%= t("basics.created_by") %>: <%= link_to artist_user_station.owner.name, user_path(artist_user_station.owner) %></b><br/>

                <%= render :partial =>'shared/user_following', :locals => {:current_user => current_user, :user =>artist_user_station.owner} %>

<!--                  <% if current_user && current_user.follows?(artist_user_station.owner) %>
                  <%= link_to_function( t("actions.unfollow_account", :name =>  artist_user_station.owner.first_name), "Base.community.unfollow('#{artist_user_station.owner.slug}', this, false); return false;") %>
                  <% else %>
                  <%= link_to_function( t("actions.follow_account", :name =>  artist_user_station.owner.first_name), "Base.community.follow('#{artist_user_station.owner.slug}', this, false); return false;") %>
                  <% end %>
                  -->
            </div>
        </div>
    </div><!--/end subcription_text -->
    <br class="clearer" />
</li>

