<li>
  <%= four_thumbs_to(user_station.station, :class => 'left_side', :clearer => true, :type => :medium) %>
  <div class="station_text">
    <big>
      <span class="station_name">
        <%= link_to(user_station.name, user_station.artist) %>
      </span>
    </big>
    <br/>
    <span class="grey">
      <%= t("activerecord.attributes.station.updated_at", :when => l(user_station.updated_at.to_date)) %>
    </span>
    <br/>
    <%= station_contains(user_station) %>
    <div class="buttons">
      <%= link_to(image_tag('play_button.png', :title => t('actions.play'), :class => 'png_fix'), radio_path(:station_id => user_station.station.id)) %>

      <%= link_to(image_tag('edit_button.png', :title => t('actions.edit'), :class => 'png_fix'), '#', :onclick => "Base.stations.edit(#{user_station.id}, this); return false;") if page_owner? %>

      <%= link_to(image_tag('close_button.png', :title => t('actions.close'), :class => 'png_fix'), '#', :onclick => "Base.stations.remove(#{user_station.id}, this); return false;") if page_owner? %>
    </div>
  </div>
  <br class="clearer" />
</li>
