<li>
  <%= four_thumbs_to(user_item.station, :class => 'left_side', :clearer => true, :type => :medium) %>
  <div class="station_text">
    <big>
      <span class="station_name">
        <%= link_to(user_item.name, radio_path(:station_id => user_item.station.id)) %>
      </span>
    </big>
    <br/>
    <span class="grey">
      <%= t("basics.last_modified") %>: <%= l(user_item.updated_at.to_date) %>
    </span>
    <br/>
    <%= station_contains(user_item) %>
    <div class="buttons">
      <%= radio_play_button(user_item.station.id)  %>

      <%= link_to(image_tag(market_image_path('edit_button.png'), :title => t('actions.edit'), :class => 'png_fix'), '#', :onclick => "Base.stations.edit(#{user_item.id}, this); return false;") if page_owner? %>

      <%= link_to(image_tag(market_image_path('close_button.png'), :title => t('actions.close'), :class => 'png_fix'), '#', :onclick => "Base.stations.remove(#{user_item.id}, this); return false;") if page_owner? %>
    </div>
  </div>
  <br class="clearer" />
</li>
