<wl:app
  channelurl="/channel.html"
  callbackurl="<%= new_session_path %>"
  clientid="<%= WindowsConnect::CLIENT_ID %>"
  scope="WL_Profiles.View" 
  onload="winConnectLoaded">
</wl:app>

<div id="winconnect-root">
  <% javascript_tag do %>
    function winConnectLoaded(p_event) {
      // console.log('win connect app tag initialized');
      // <%= new_session_path %>
      // <%= page if defined? page %>
      // console.dir(p_event);
    }

    function onWinConnectLogin(p_event) {
      // console.log('win connect login event');
      state = Microsoft.Live.App.get_auth().get_state();
      switch (state) {
        case Microsoft.Live.AuthState.authenticated:
          // alert('Windows Connect login');
          document.location = current_url_site + '/login?' + document.location.search
            + '&page=<%= page if defined? page %>'
          break;
        case Microsoft.Live.AuthState.failed:
          alert('Windows Connect login fail');
          break;
        case Microsoft.Live.AuthState.canceled:
          alert('Windows Connect login canceled');
          break;
        default:
          alert('Windows Connect login state: ' + state);
      }
    }

    // deferred Windows Connect script load for performance
    (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//js.live.net/4.1/loader.js';
      e.async = true;
      document.getElementById('winconnect-root').appendChild(e);
    }());
  <% end %>
</div>

