<div class="albums_item" id="my_station_item_<%= item.station.id %>">

  <div class="artist_box png_fix">
    <%= link_to avatar_for(item, :large), mix_radio_path(:station_id => item.station.id) %>

     <div class="overlay">
         <div class="hidden">
           <% unless item.locked? %>
              <b><%= link_to item.name, mix_radio_path(:station_id => item.station.id) %></b><br/>
           <% else %>
              <span class="blue"><b><%= item.name %></b></span><br/>
           <% end %>
             <b><%= t('basics.overlay_created_at', :when => distance_of_time_in_words_to_now(item.updated_at)) %></b>
             <br /><br />
             <div class="tags_contains">
               <% unless item.cached_tag_list.blank? %>
               <div><%= tag_links(item) %></div>
               <% end %>
               <% if item.songs_count > 0 %>
               <div class="station_contains"><%= station_contains(item) %></div>
               <% end %>
             </div>
         </div>

         <div class="visible">
             <div class="hoverable_hidden">
               <%= link_to image_tag('play_button.png', :class=> "play_button png_fix"), mix_radio_path(:station_id => item.station.id) unless item.locked? %>

               <% unless item.locked? %>
                <%= link_to truncate(item.name, 15, '...'), mix_radio_path(:station_id => item.station.id), :alt => item.name, :class => 'white' %><br/>
               <% else %>
                  <span class="white"><%= truncate(item.name, 15, '...') %></span><br/>
               <% end %>
               
             </div>
             <div class="hoverable_visible">
               <%= link_to(image_tag('duplicate_button.png', :class=> "png_fix hoverable_button"), '#', :onclick => "Base.playlists.copy('#{item.owner.slug}', #{item.id}); return false;") unless item.locked? %>
               <%= link_to image_tag('edit_button.png', :class=> "png_fix hoverable_button"), playlist_edit_path(item) if item.owner == current_user %>
               <%= link_to image_tag('close_button.png', :class=> "png_fix hoverable_button"), '#', :onclick => "Base.stations.remove_from_layer(#{item.station.id});" if on_dashboard? %>
               <%= link_to(image_tag('play_button.png', :class=> "png_fix hoverable_button"), mix_radio_path(:station_id => item.station.id)) unless item.locked? %>
             </div>
         </div>
     </div><!--/end overlay -->
 </div><!--/end artist_box -->

  <%= render :partial => 'reviews/playlist_reviews_box', :locals => { :playlist => item } %>

  <div class="clearer"></div>
</div><!--/end albums_item --> 
