<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery.autocomplete' %>
  <%= javascript_include_tag 'jquery.autocomplete' %>

  <script type="text/javascript">
    $(document).ready(function() {
      var artistSearch = $("input[name='station_name']");
      artistSearch.autocomplete("/stations.txt");
      artistSearch.css('color', '#c0d6e2');
      artistSearch.focus(function() {
        if (artistSearch.attr("touched") != 'true') {
          artistSearch.attr("touched", 'true');
          artistSearch.css('color', '#025d8c');
          artistSearch.attr('value', '')
        }
      })
    });
  </script>

<% end %>

<div class="tabs_column">
  <div class="tabs">
    <a href="#" class="left_side"><%= t("home.create_radio") %></a>
    <br class="clearer" />
  </div>

  <div class="tabs_content">
    <div class="text">
      <div class="title"><%= t("home.text_about_radio")%></div>

      <p>
        <%= t("home.explaing_what_is_and_why_create_a_new_radio") %>
      </p>
    </div>

    <% form_for(:station, :html => {:class => "new_station"}, :url => search_radio_path) do %>
      <div>
        <label><%= t("home.create_your_own_station_now") %></label><br/>
      </div>

      <div class="input_placeholder">
        <%= text_field_tag :station_name, t('home.type_artist_name'),  {:class => "text_input"} %>
        <div class="align_right">
          <a href="#" onclick="$('form.new_station').submit();return false;" class="blue_button"><span><span><%= t("home.start_listening") %></span></span></a>
        </div>
      </div><!--/end input_placeholder -->
    <% end %><!--/end new_station -->
  </div><!--/end tabs_content -->
</div><!--/end tabs_column -->
