<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery.autocomplete' %>
  <%= javascript_include_tag 'jquery.autocomplete' %>

  <script type="text/javascript">
    $(document).ready(function() {
      var artistSearch = $("input[name='station_name']");
      var stationID = $("input[name='station_id']");
      var listenButton = $("#start_listening_button");
      
      listenButton.click(function(e) {
        if(parseInt($(this).attr('can_post'), 10)) {
          $('form.new_station').submit();
          listenButton.attr('can_post', 0);
      	}
      });
      
      artistSearch.autocomplete("/stations.js", {
        formatItem: function(item) {
          return item[1];
        },        
        formatResult: function(item) {
          return item[1];
        }        
      }).result(function(event, item) {
          stationID.val(item[0]);
          listenButton.attr('can_post', 1);
          listenButton.removeClass('grey_button_big').addClass('blue_button');          
        });
        
      artistSearch.css('color', '#c0d6e2');
      artistSearch.focus(function() {
        if(artistSearch.val() == "<%= t('radio.search_hint') %>") {
          artistSearch.attr('value', '')
        }
        if (artistSearch.attr("touched") != 'true') {
          artistSearch.attr("touched", 'true');
          artistSearch.css('color', '#025d8c');
          artistSearch.attr('value', '')
        }
      });

      artistSearch.blur(function() {
        if(artistSearch.val() == "") {
          artistSearch.attr("touched", 'false');
          artistSearch.css('color', '#c0d6e2');
          artistSearch.attr('value', "<%= t('radio.search_hint') %>")
          listenButton.attr('can_post', 0).removeClass('blue_button').addClass('grey_button_big');
          stationID.val("");
        }
      });
    });
  </script>

<% end %>

<div class="tabs_column">
  <div class="tabs">
    <a href="#" class="left_side"><%= t("home.create_radio") %></a>
    <br class="clearer" />
  </div>

  <div class="tabs_content">
    <div class="text">
      <div class="title"><%= t("home.text_about_radio")%></div>

      <p>
        <%= t("home.explaing_what_is_and_why_create_a_new_radio") %>
      </p>
    </div>

    <% form_for(:station, :html => {:class => "new_station"}, :url => search_radio_path) do %>
    <%= hidden_field_tag :station_id %>
      <div>
        <label><%= t("home.create_your_own_station_now") %></label><br/>
      </div>

      <div class="input_placeholder">
        <%= text_field_tag :station_name, t('home.type_artist_name'),  {:class => "text_input"} %>
        <div class="align_right">
          <%= grey_button( t("home.start_listening"), :id => "start_listening_button", :can_post => 0) %>
          <!--a href="#" id="start_listening_button" onclick="return false;" class="blue_button" can_post="0"><span><span><%= t("home.start_listening") %></span></span></a-->
        </div>
      </div><!--/end input_placeholder -->
    <% end %><!--/end new_station -->
  </div><!--/end tabs_content -->
</div><!--/end tabs_column -->
