<div class="popular_mixes_column">
  <h1><%= t('home.latest_radios') %></h1>
  <% @latest_stations.each_with_index do |user_station, index| %>
    <div class="artist_box png_fix <%= "last_box" if (index+1) % 4 == 0 %>">      
      <% if user_station.artist_id.nil? %>
        <%= avatar_for(nil, :new_medium) %>
      <% else %>
        <%= four_thumbs_to(user_station.station, {:type => :big}) %>
      <% end %>

      <div class="overlay">
        <div class="hidden">
          <% if user_station.artist_id.nil? %>
            <%= avatar_for(nil, :artist_icon) %>
          <% else %>
            <%= link_to avatar_for(user_station.artist, :artist_icon), user_station.artist %>
          <% end %>

          <span>
            <span class="blue"><%= user_station.name %></span><br/>
            <%= t('basics.created_at', :when => distance_of_time_in_words_to_now(user_station.created_at)) %>
          </span>
          <br class="clearer" />

          <%= t("basics.contains") %>:
          <%= user_station.includes(3).map {|artist| link_to artist.name, artist.artist, :target => '_blank'}.join(", ") %>
        </div>

        <div class="visible">
          <%= link_to_function image_tag("play_button.png", :class => "play_button", :alt => "Play"), "createStation(\"#{user_station.name}\")" %>

          <%= link_to truncate(user_station.name,15), artist_path(user_station.artist), :title => user_station.name %><br/>
          <div class="rating_stars">
            <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_white.png" alt="" /></a>
          </div>
        </div>
      </div><!--/end overlay -->
    </div><!--/end artist_box -->

    <% if (index+1) % 4 == 0 %>
      <br class="clearer" />
    <% end %>
  <% end %>
</div><!--/end popular_mixes_column -->

