<% # Phase 2 %>
<% if false %>
<div class="radios_recomended_column">
<% end %>
  <h1><%= t("home.radios_recomended_for_you") %></h1>

  <% unless @recommended_stations %>
    <% @recommended_stations.each_with_index do |radio, index| %>
      <% artist = Artist.find(radio.artist_id) rescue nil %>
      <% unless artist.nil? %>
        <div class="artist_box png_fix <%= "last_box" if (index+1) % 3 == 0 %>">
          <%= four_thumbs_to(radio.station, {:type => :big}) %>

          <div class="overlay">
            <div class="hidden">
              <% if artist.nil? %>
                <%= avatar_for(nil, :artist_icon) %>
              <% else %>
                <%= link_to avatar_for(artist, :artist_icon), artist %>
              <% end %>

              <span>
                <span class="blue"><%= radio.station.name %></span><br/>
              </span>
              <br class="clearer" />

              <%= t("basics.contains") %>:
              <%= artist.station.includes.map {|station_artist| link_to station_artist.artist.name, station_artist.artist, :target => '_blank'}.join(", ") %>
            </div>

            <div class="visible">
              <%= link_to_function image_tag("play_button.png", :class => "play_button", :alt => "Play"), "playStation(#{radio.station.id})" %>

              <%= link_to truncate(radio.station.name,15), artist_path(artist), :title => radio.station.name %>
              <div class="rating_stars">
                <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_white.png" alt="" /></a>
              </div>
            </div>
          </div><!--/end overlay -->
        </div><!--/end artist_box -->
      <% end %>
    <% end %>
  <% end %>

  <div class="clearer"></div>
<% # Phase 2 %>
<% if false %>
</div><!--/end mixes_recomended_column -->
<% end %>

