<div class="top_radios_column">
  <h1><%= t("home.top_radios") %></h1>
  <% @top_stations.each_with_index do |radio, index| %>
    <div class="artist_box png_fix <%= "last_box" if (index+1) % 6 == 0 %>">
      
      <% if radio.station.artist_id.nil? %>
        <%= avatar_for(nil, :new_medium) %>
      <% else %>
        <%= four_thumbs_to(radio.station, {:type => :big}) %>
      <% end %>

      <div class="overlay">
        <div class="hidden">
          <% if radio.station.artist_id.nil? %>
            <%= avatar_for(nil, :artist_icon) %>
          <% else %>
            <%= link_to avatar_for(radio.station.artist, :artist_icon), radio.station.artist %>
          <% end %>
          
          <span>
            <span class="blue"><%= radio.station.name %></span><br/>
            <%= l(radio.station.created_at, :format => "default") %>
          </span>
          <br class="clearer" />

          <%= t("basics.contains") %>:
          <%= radio.station.includes.map {|artist| link_to artist.name, artist, :target => '_blank'}.join(", ") %>
        </div>

        <div class="visible">
          <%= link_to_function image_tag("play_button.png", :class => "play_button", :alt => "Play"), "createStation(\"#{radio.station.name}\")" %>

          <%= link_to truncate(radio.station.name,15), artist_path(radio.station.artist), :title => radio.station.name %><br/>
          <%= link_to_function t("home.station"), "createStation(\"#{radio.station.name}\")" %>
        </div>
      </div><!--/end overlay -->
    </div><!--/end artist_box -->
  <% end %>
  
  <br class="clearer" />
</div><!--/end top_radios_column -->
