!!!
%html{application_html_attrs}
  %head
    %title= h(@title || t("meta.title"))  
    = main_stylesheets_link_tag
    / [if IE 6]
      = stylesheet_link_tag 'ie'
    / [if IE 7]
      = stylesheet_link_tag 'ie7'
    / [if IE 8]
      = stylesheet_link_tag 'ie8'
    = resource_tags :defaults => false, :auto => false
    = stylesheet_link_tag 'admin', 'facebox'
    = javascript_include_tag 'jquery', 'jquery.ui.js', 'jrails', 'jquery.autocomplete', 'jquery.livequery', 'jquery-ui-i18n.min.js', 'jquery.timers', 'jquery.facebox', 'admin'

    - if yield :append_to_head 
      = yield :append_to_head
          
  %body{:class => body_classes}
    = render_messenger_app
    #main_content
      #page_wrapper
        %h2 Cyloop | Administration
        = render_flash
        = yield

      %span#calendar_locale.hide
        = current_site.calendar_locale 
