<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" <%= application_html_attrs %>>
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/javascripts' %>
    <%= render 'shared/stylesheets' %>
    <%= yield :head %>
    <%= render '3rd_party_branding/msn_head' if current_site.is_msn? %>
  </head>
  <body loggedin="<%= (logged_in?).to_s %>" locale="<%= current_site.default_locale %>" market="<%= current_site.code %>"<%= current_site.is_msn? ? " class=\"msn  #{current_site.code}#{params[:slug].nil? ? "" : " " + params[:slug]}\"" : "class=" + "#{params[:slug].nil? ? "" : params[:slug]}" %>>
    <%= render_messenger_app %>
    <div id="container">
      <%= render 'shared/header' %>
      
      <%= main_content(yield) %>
      <%= render 'shared/footer' %>
    </div><!--/end container -->
  </body>
</html>
