!!!
%html{application_html_attrs}
  %head
    = render 'shared/head'
    = customized_colors
    = yield :head
  %body{:class => body_classes("artist"), :loggedin => (logged_in?).to_s, :locale => current_site.default_locale, :market => current_site.code}
    = render_messenger_app
    #main_content
      - unless cyloop_site?
        #sub_header_container.banner
          = banner_ad("top_banner")
      = render :partial => "shared/mast_head"
      #customizer
      = render 'users/profile_header'
      #page_wrapper
        = render_flash
        #content
          = yield
        #secondary_content
          = yield :album_info

          .module.launch_radio.first
            = render "modules/artist/launch_radio"

          - if controller_name == "biography"
            - unless profile_artist.band_members.empty?
              .module.band_members
                %h3= t('modules.members.title')
                %ul.band_members
                  - profile_artist.band_members.each do |member|
                    %li
                      == #{member.name}: #{member.instrument}

          - if controller_name == "biography"
            - unless profile_artist.label.nil? && profile_artist.label_type.blank? && profile_artist.management_email.blank?
              #management
                %h3= t('biography.management.title')
                - if profile_artist.label
                  == #{t('biography.management.label')}: #{profile_artist.label.name}
                %br
                - if profile_artist.label_type
                  == #{t('biography.management.type')}: #{profile_artist.label_type}
                %br
                - unless profile_artist.management_email.blank?
                  == #{t('biography.management.email')}: #{profile_artist.management_email}

          .module.ad
            = banner_ad("square_banner")

          = render 'modules/artist_info'

          - unless controller_name =~ /biography/
            - unless profile_artist.biography(current_site.bio_locale).blank?
              .module.biography.first
                %h3= t('modules.biography.title')
                = truncate(profile_artist.biography(current_site.bio_locale), :length => 600, :omission => "...(#{link_to(t('basics.more'), artist_biography_index_path)})")

          .module.recent_listeners.last

          .module.similar_artists.clearfix


      = render :partial => "shared/footer"
      - if site_includes(:msnlatino, :msnmx, :msnbr, :msnlatam, :msnar, :msncaen, :msncafr)
        = render "3rd_party_branding/msn_footer_#{site_code}"
    
  = render :partial => 'shared/logged_in_callback'
  %script{ :src => "/artists/#{params[:slug]}/recent_listeners.js", :type => 'text/javascript' }
  - if !(controller_name =~ /album/)
    %script{ :src => "/artists/#{params[:slug]}/similar_artists.js", :type => 'text/javascript' }