<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/javascripts' %>
    <%= render 'shared/stylesheets' %>
    <%= yield :head %>
  </head>
  <body locale="<%= current_site.default_locale %>" market="<%= current_site.code %>">
    <%= render_messenger_app %>
    <div id="container">
      <%= render :partial => 'shared/header', :locals => {:logged_out => true} %>
      
      <%= main_content(yield) %>
      
      <%= render 'shared/footer' %>
    </div><!--/end container -->
    <%= google_analytics_js_include_tag %>
  </body>
</html>
