!!!
%html{application_html_attrs}
  %head
    = render 'shared/head'
    = customized_colors
    = yield :head
  %body{:class => body_classes, :loggedin => (logged_in?).to_s, :locale => current_site.default_locale, :market => current_site.code}
    = render_messenger_app
    = yield :body_top
    #main_content
      - unless cyloop_site?
        #sub_header_container.banner
          = banner_ad("top_banner")
      = render :partial => "shared/mast_head"
      #customizer
      = render 'users/profile_header'
      #page_wrapper
        = render_flash
        #content
          = yield
        #secondary_content
          - if params[:slug].blank?
            = render 'dashboards/sidebar'
          - elsif profile_account.artist?
            = render 'artists/sidebar'
          - else
            = render 'users/sidebar'

      = render :partial => "shared/footer"
      - if site_includes(:msnmx, :msnbr, :msnlatam, :msnar, :msnlatino, :msncaen, :msncafr)
        = render "3rd_party_branding/msn_footer_#{site_code}"