<div id="left_column">
  <%= render profile_user? ? 'users/info'    : 'artists/info' %>
  <%= render profile_user? ? 'users/stats'   : 'artists/stats' %>
  <%= render profile_user? ? 'users/buttons' : 'artists/buttons' %>
  <%= render 'accounts/buttons' %>
  <%= account_sidebar_links %>
</div><!--/end left_column -->
